<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的获利</title>
<link href="${ctxPath}/static/custom/css/recommendmoney.css"
	rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="main">
		<div class="mainbox">
			<table>
				<tr>
					<td>结算时间</td>
					<td>结算来源</td>
					<td>获利</td>
				</tr>
				<%for(r in page.list){%>
				<tr>
					<td>${r.get_time!}</td>
					<td>${r.come_from!}</td>
					<td>${r.get_money!0.00}</td>
				</tr>
				<%}%>
			</table>
		</div>
	</div>
</body>
</html>
