

body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: 100%;
	font-family: inherit
}
body {
	color: #000;
	background: #f7f7f7;
	text-aligh: center;
	font: 12px Arial, Helvetica, sans-serif, "宋体", "微软雅黑";
}
ol, ul, li {
	list-style-type: none;
}
img {
	margin: 0;
	padding: 0;
	border: none;
	outline: none
}
.clear {
	font: 0px/0px serif;
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.m5 {
	margin-right: 50px;
}
.m3 {
	margin-right: 30px;
}
a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
.mainbox {
	width: 780px;
	overflow: hidden; box-shadow:3px 3px 5px #ccc;
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 15px;
	border: 1px solid #ddd;
 border-radius:
}
.title {
	width: 780px;
	border-bottom: 1px solid #d3d3d3;
	height: 40px;
}
.wenzi {
	width: 95px;
	height: 40px;
	background-color: #78c912;
	color: #fff;
	margin-top: 2px;
	margin-left: 10px;
	line-height: 40px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
}
.list {
	width: 780px;
	height: 50px;
	border-bottom: 1px solid #ddd;
	padding-top: 20px;
	padding-left: 50px;
}
.list1 {
	width: 780px;
	height: 120px;
	border-bottom: 1px solid #ddd;
	padding-top: 20px;
	padding-left: 50px;
}
.list1 ul li {
	color: #333;
	font-size: 14px;
	font-family: "宋体";
	line-height: 35px;
}
.list2 {
	width: 780px;
	height: 300px;
	padding-top: 20px;
	padding-left: 50px;
}
.list2 ul li {
	color: #333;
	font-size: 14px;
	font-family: "宋体";
	line-height: 35px;
}
.list ul li {
	color: #333;
	font-size: 14px;
	font-family: "宋体";
	line-height: 35px;
}
.pl {
	width: 10px;
	height: 30px;
	background-color: #78c713;
}
.pq {
	width: 770px;
	height: 30px;
	background-color: #e2e2e2;
}
.left {
	width: 75px;
	height: 90px;
	line-height: 30px;
	text-align: center;
}
.left p {
	border-bottom: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
}
.center {
	width: 150px;
	height: 90px;
	line-height: 30px;
	text-align: center;
}

.anniu{ width:100px; height:35px; line-height:35px; text-align:center; background-color:#91C942; border:1px solid #ededed; outline:none; color:#fff; font-weight:bold; font-size:14px; cursor:pointer; border-radius:5px;}


#xzw_starBox{position:relative;float:left}
#xzw_starSys { width:500px; overflow:hidden; margin-top:6px;}
#xzw_starSys .description{padding:0px 10px; float:left; width:300px;}
#xzw_starSys .star{height:20px;width:120px;position:relative;background: url(../images/lanrentuku.png) repeat-x;cursor:pointer; float:left;}
#xzw_starSys .star li{float:left;padding:0px;margin:0px}
#xzw_starSys .star li a{display:block;width:24px;height:20px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
#xzw_starSys .star li a:hover{background: url(../images/lanrentuku.png)0 -25px repeat-x;z-index:3;left:0}
#xzw_starSys .star a.one-star{left:0}
#xzw_starSys .star a.one-star:hover{width:24px}
#xzw_starSys .star a.two-stars{left:24px}
#xzw_starSys .star a.two-stars:hover{width:48px}
#xzw_starSys .star a.three-stars{left:48px}
#xzw_starSys .star a.three-stars:hover{width:72px}
#xzw_starSys .star a.four-stars{left:72px}
#xzw_starSys .star a.four-stars:hover{width:96px}
#xzw_starSys .star a.five-stars{left:96px}
#xzw_starSys .star a.five-stars:hover{width:120px}
#xzw_starSys .current-rating{background: url(../images/lanrentuku.png) 0 -25px repeat-x;position:absolute;height:20px;z-index:1;top:0;left:0}
