/*分页*/
.pagination {
	text-align: center;
	height: 50px;
}

.pagination a {
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 1px solid #ccc;
	background-color: white;
	font-family: "宋体";
	font-size: 16px;
	color: #000;
	text-align: center;
	line-height: 36px;
}

.pagination .btn.active {
	color: white;
	background-color: #84c233;
}

.pagination a:hover {
	color: white;
	background-color: #84c233;
}

.input_ss {
	width: 50px;
}