@charset "utf-8";
/* CSS Document */
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: 100%;
	font-family: inherit
}
body {
	color: #000;
	background: #f7f7f7;
	text-aligh: center;
	font: 12px Arial, Helvetica, sans-serif, "宋体", "微软雅黑";
}
ol, ul, li {
	list-style-type: none;
}
img {
	margin: 0;
	padding: 0;
	border: none;
	outline: none
}
.clear {
	font: 0px/0px serif;
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
/*主题部分*/
.topbox {
	width: 1180px;
	height: 150px;
	margin: 0 auto;
	border-bottom: 2px solid #417eb7;
}
.subnav {
	width: 950px;
}
.subnav li {
	line-height: 35px;
	text-align: center;
	font-family: "微软雅黑";
	float: left;
	width: 106px;
}
.subnav li:hover {
	background-color: #86C135;
	border-radius: 15px;
	color: #fff;
}
.subnav li a:hover {
	color: #fff;
}
.subnav li a {
	color: #333;
	font-size: 18px;
}
/*--按钮*/
.mainbox {
	width: 1130px;
	margin: 5px auto;
	border: 1px solid #ddd;
	height: 700px;
	padding: 20px 0px 0px 50px;
}
.input li {
	float: left;
	margin-right: 30px;
}
.gg {
	width: 1160px;
	margin-left: 20px;
	height: 95px;
	border: 1px solid #ededed;
	background-color: #e9f0f3;
	margin-bottom: 10px;
}
.input li input {
	width: 100px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	text-align: center;
}
/*排头*/
.heard {
	width: 1180px;
	margin: 0 auto;
	height: 167px;
	border: 1px solid #ddd;
}
.bt {
	width: 1180px;
	height: 35px;
	line-height: 35px;
	text-align: left;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.heard .bt h2 {
	margin: 0;
	padding: 0;
	font-family: inherit
}
.heard .xlk {
	width: 1140px;
	margin: 0 auto;
	padding: 20px;
}
.xlk span {
	font-family: '微软雅黑';
	font-weight: bold;
}
.xlk select {
	width: 268px;
	height: 20px;
	text-indent: 8px;
}
.xlk-left {
	float: left;
	margin-right: 55px;
}
.xlk-right {
	float: left;
}
.anniu {
	width: 100px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-family: "微软雅黑";
	background-color: #8bc73c;
	text-align: center;
	float: right;
	margin-right: 100px;
	outline: none;
	font-size: 18px;
	cursor: pointer;
	border: 1px solid #ddd;
	margin-top: 15px;
	border-radius: 5px;
}
.anniu1 {
	width: 100px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-family: "微软雅黑";
	background-color: #8bc73c;
	text-align: center;
	float: right;
	margin-right: 85px;
	outline: none;
	font-size: 18px;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
}
.bt-right1 a{ color:#333; font-size:14px;}
/*表格*/
.mainbox-gg {
	width: 1160px;
	padding: 10px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.table-title {
	width: 220px;
	text-align: center;
	margin-left: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.maintable {
	width: 1160px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.maintable a {
	text-decoration: none;
	cursor: pointer;
	color: #333;
}
.maintable table {
	border: 1px solid #ededed;
	border-collapse: collapse;
}
.maintable td {
	height: 35px;
	width: 150px;
	text-align: center;
	line-height: 35px;
	color: #333;
	font-family: '微软雅黑';
	border: 1px solid #ddd;
	font-size: 14px;
}
.first-tr td {
	background-color: #D6D6D6;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.sencond-tr td {
	background-color: #d2f4a4;
}
/*分页*/
.pagination {
	text-align: center;
	height: 50px;
	margin-top: 10px;
}
.pagination a {
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 1px solid #ccc;
	background-color: white;
	font-family: "宋体";
	font-size: 16px;
	color: #000;
	text-align: center;
	line-height: 36px;
}
.pagination .btn.active {
	color: white;
	background-color: #84c233;
}
.pagination a:hover {
	color: white;
	background-color: #84c233;
}
.input_ss {
	width: 50px;
}
.bt td {
	font-weight: bold;
}
.bt td span {
	color: #84C233;
	font-weight: normal;
}
.bt-right {
	float: left;
	width: 978px;
	height: 50px;
	border-bottom: 1px solid #ddd;
}
.bt-right1 {
	float: left;
	width: 978px;
	height: 118px;
}
.bt-left {
	background-color: #e5f1d4;
	width: 182px;
	height: 167px;
	float: left;
}
.bt-right table {
	width: 500px;
	margin-left: 100px;
}
.bt-rightbox {
	width: 978px;
	float: left;
}
.bt-rightbox table {
	width: 500px;
	margin-left: 100px;
}
.bt-right1 table {
	width: 800px;
}
.bt-anniu {
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
/*推荐人列表*/
.maintable {
	width: 1160px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.maintable a {
	text-decoration: none;
	cursor: pointer;
	color: #333;
}
.maintable table {
	border: 1px solid #ededed;
	border-collapse: collapse;
}
.maintable td {
	height: 35px;
	width: 250px;
	text-align: center;
	line-height: 35px;
	color: #333;
	font-family: '微软雅黑';
	border: 1px solid #ddd;
	font-size: 14px;
}
.first-tr td {
	background-color: #D6D6D6;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.sencond-tr td {
	background-color: #d2f4a4;
}
