body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, h1, h2,
	h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset,
	input, button, select, textarea {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: 100%;
	font-family: inherit
}

body {color:#000;
	background: #f7f7f7;
	text-aligh: center;
	font: 12px Arial, Helvetica, sans-serif, "宋体", "微软雅黑";
}

ol, ul, li {
	list-style: none;
}

img {
	margin: 0;
	padding: 0;
	border: none;
	outline: none
}

a {
	text-decoration: none;
	outline: none
}
.fl{
	float:left;
}
.grey{
	color:#cfcfcf;
}
.position{
	width:1170px;
	height:40px;
	line-height:40px;
	background-color:#e5e5e5;
	font-size:15px;
	margin:0 auto;
	color:#565656;
	padding-left:10px;
}
.position a{
	color:#565656;
}
.position a:hover{
	color:#409300;
}
.dropdown{
	line-height:30px;
	margin-top:5px;
	position:absolute;
	border:1px solid #75a435;
}
.dropdown li{
	background-color:#84c43b;
	padding:0 5px;
}
.dropdown li a{
	background:url(../images/storeManage/triangle_down.png) no-repeat;
	background-position:right;
	padding-right:10px;
	color:#fff;
}
.dropdown ul{
	
}
.dropdown ul li{
	background-color:#daffa7;
	border-bottom:2px solid #fff;
}
.dropdown ul li a{
	color:#565656;
	background:none;
	font-size:14px;
	padding-left:5px;
}
.dropdown ul li:hover{
	background-color:#b5ff56;
}
.content{
	width:1178px;
	margin:0 auto;
	font-size:14px;
	color:#565656;
	margin-top:10px;
	border:1px solid #ccc;
	background-color:#fff;
	padding-bottom:50px;
	clear:both;
}
.content_left{
	float:left;
	width:200px;
}
.left_nav{
	border-right:1px solid #ccc;
	background-color:#ececec;
	min-height:600px;
	border-bottom:1px solid #ccc;
}
.left_nav_title{
	font-size:20px;
	color:#fff;
	background-color:#459412;
	height:50px;
	line-height:50px;
	text-align:center;
}
.left_nav ul li a{
	color:#000;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #ccc;
	width:148px;
	display:inline-block;
	padding-left:50px;
}
.left_nav ul li a.active{
	background-color:#fff;
	border-left:5px solid #8bc73c;
	width:145px;
}
.left_nav ul li a img{
	margin-right:10px;
	position:relative;
	top:5px;
}
.content_right{
	float:left;
}
.main{
	margin-left:50px;
	margin-top:30px;
}
.row,.row1{
	margin-bottom:15px;
}
.row1 input{
	width:20px;
}
.row input{
	height:25px;
	width:200px;
	padding-left:5px;
}
.btn_g{
	background:url(../images/storeManage/btn_bg.png);
	padding:2px 10px;
	border:1px solid #8bc73c;
	color:#409300;
}
.store_logo{
	margin-bottom:10px;
	height:125px;
}
.store_logo_img img{
	width:100px;
	height:100px;
}
.advise{
	background-color:#feffe5;
	border:1px solid #f6cf87;
	width:500px;
	height:20px;
	line-height:20px;
	display:inline-block;
	padding-left:10px;
}
.store_banner{
	clear:both;
	margin-bottom:10px;
	height:121px;
}
.store_banner_img img{
	width:756px;
	height:96px;
}
.address{
	margin-bottom:10px;
}
.address_map{
	width:621px;
	height:300px;
}
.input_l{
	height:25px;
	width:300px;
	margin-bottom:10px;
}
.input_s{
	width:100px;
}
.modify{
	color:#409300;
}
.modify:hover{
	color:#f40;
}
.green{
	color:#409300;
}
.waimai_box{
	margin-bottom:10px;
}
.waimai_box textarea{
	width:621px;
}
.store_description{
	clear:both;
}
.store_description textarea{
	width:621px;
}
.btn_w{
	margin-top:50px;
	padding-left:80px;
}
.btn_g_l{
	background:url(../images/storeManage/btn_bg.png);
	padding:1px 20px;
	border:1px solid #8bc73c;
	color:#409300;
}