/* CSS Document */
.green{
	color:#409300;
}
.wrap{
	width:1180px;
	background:#fff;
	margin:0 auto;
	margin-top:10px;
	font-size:14px;
	color:#565656;}
.order_title{
	height:141px;
	background:url(../images/order_number.png) 0 0 no-repeat;}
.order_first{
	margin-top:25px;}
.pay_style{
	height:40px;
	color:#FFF;
	font-family:"微软雅黑";
	background:#FFF;
	border:1px solid #8ec83e;
	}
.pay_style span{
	height:40px;
	line-height:40px;
	padding-left:23px;
	font-size:16px;
	display:block;
	width:169px;
	border:0 none;
	background:url(../images/order_hover.png) no-repeat;}
.radio_group{
	padding:20px 0;
	}
.radio_group li{
	margin:0 20px;
	float:left;}
.radio_group input{
	position:relative;
	top:3px;
	margin:0 20px;}
	/*填写预订信息开始---------------------------*/
.order_infor{
	margin-top:20px;}
.write_info{
	background:#fbfff1;
	min-height:240px;}
.base_info ul{
	height:100px;
	padding-top:20px;}
.base_info ul li{
	float:left;}
.info_name{
	margin:0 15px 0 20px;}
.base_info li input{
	height:25px;
	width:185px;
	padding-left:15px;}
 .link_phone{
	padding:20px 0;}

.buyer_say{
	clear: both;
padding-left: 20px;
	}
.buyer_say span{
	position:relative;
	bottom:40px;}
.buyer_say textarea{
	margin-left:20px;
	width:737px;
	height:91px;
	resize:none;
	padding-left:15px;
	}
	.address_list{
	padding-top:20px;
	padding-left:20px;
	}
	.base_info li input.checkbox{
	width:25px;
	margin-left:10px;
	position:relative;
	top:2px;
}
.baocun{
	position:relative;
	top:-5px;
}
	/*商品清单开始---------------------------*/
.shop_list{
	margin-top:25px;}
.buyer_info p{
	padding-left:35px;
	height:30px;
	line-height:30px;
	font-size: 16px;}
.buyer_info ul{
	margin-left:50px;
	height:40px;}
.buyer_info ul li{
	line-height:40px;
	float:left;
	margin:0 20px;}
.buyer_info li span{
	margin:0 10px;}
.buyer_info .shop_mingxi{
	}
.shop_mingxi{
	clear:both;
	}
.shop_mingxi table{
	margin:0 auto;
	background:#FFF;
	border:1px solid #6cab05;
	border-collapse: collapse;}
.shop_mingxi table .table_title{
	height:37px;
	line-height:37px;
	background:#dbedc3;
	font-weight:bold;
	font-family:"微软雅黑";
	border-bottom:1px solid #6cab05;
	}
.shop_mingxi table td{
	border-left:1px dashed #6cab05;
	border-bottom:1px dashed #6cab05;
	text-align:center;}
.table_pic{
	width:186px;}
.totle_price{
	height:110px;}
.price_totle{
	float:right;
	margin-top:10px;
margin-right:40px;}
.price_totle p{
	margin:10px 0;}
.price_totle span{
	font-size:18px;
	font-family:"微软雅黑";
	color:#ff5a00;
	font-weight:bold;}
.price_totle .order_btn{
	height:39px;
	width:170px;
	border:0 none;
	background:url(../images/pay_btn.png) no-repeat;}
	/*---------提交订单并支付页面开始----------------------------------------------------*/
.submit_order{
	height:141px;
	background:url(../images/order_number.png) 0px -143px no-repeat;
	}
.succeed{
	height:225px;
	background:#fbfff1;
	margin-top:10px;
	border-top:2px solid #6cab05;
	}
.succeed p{
	height:30px;
	margin:10px 0 0 50px;}
.order_success{
	margin:0 auto;
	width:526px;
	height:144px;
	margin-top:20px;
	font-size:24px;
	color:#509e31;
	font-family:"微软雅黑";
	}
.order_success span{
	position:relative;
	bottom:35px;}
.succeed_info{
	width:1000px;
	height:20px;
	margin:0 auto;
	}
.succeed_info ul{
	
	}
.succeed_info ul li{
	margin:0 20px;
	 float:left;}
 .color{
	font-size:14px;
	font-family:"微软雅黑";
	color:#ff5a00;}
.paychoose_style{}
.paychoose_style .style_pay{
	height:25px;
	line-height:25px;
	padding-left:30px;
	margin:20px 0;
	font-size:14px;
	}
.choice{
	width:1147px;
	height:269px;
	margin:0 auto;
	background:#FFF;
	border: 1px solid #dedede;
box-shadow: 0px 2px 2px #f2f1f1;
border-radius: 5px;}
.choice .choose_title{
	height:49px;
	 padding-left:40px;
	border-bottom:1px solid #dedede;
	background:url(../images/choose_style.png) repeat-x;}
.choose_title ul{}
.choose_title ul li{
	cursor:pointer;
	width:121px;
	height:41px;
	margin:0 5px;
	line-height:45px;
	float:left;}
.style_a,.style_b{
	text-align:center;
	display:block;
	position:relative;
	top:10px;
	width:120px;
	height:40px;
	background:url(../images/pay_style.png) no-repeat;}
.style_b{
	width:120px;
	height:40px;
	background:url(../images/pay_style_hover.png) no-repeat;}
.choose_nr{
	width:1120px;
	height:140px;
	margin:0 auto;
	margin:30px 0 0 60px;}
.yue_style,.alipay{
	height:126px;
	width:1100px;
	margin:0 auto;
	padding-top:50px;
   }
 .alipay .alipay-pic{
	 float:left;
	 margin:20px 10px 0 20px;}
.alipay .bank_logo{
	padding-bottom:5px;/*padding值相当于高和宽*/
	padding-left:20px;
	position:relative;
	bottom:20px;
	background:url(../images/lable.png) no-repeat;
	}
.bank_logo:hover{
	background:url(../images/lable_hover.png) no-repeat;}
.bank_logo.selected{
	background:url(../images/lable_down.png) no-repeat;
}
.yue_pic ,.password_style ,.sure_btn{
	margin:0 25px;
	float:left;}
.sure_btn{
	margin-top:25px;}
.password_style p{
	line-height:30px;
	}
.password_style input{
	width:215px;
	height:33px;
	padding-left:15px;}
.sure_ok{
	width:120px;
	height:34px;
	border:0 none;
	margin-left:20px;
	background:url(../images/sure_pay.png) no-repeat;}

   /*银联支付开始---------------*/
.bank_pay{
	
	}
.item{
	float:left;
	font-size:14px;
	margin:0 20px 20px 0;}
 .radio{
float: left;
width: 13px;
margin-top: 10px;
margin-left: 1px;}
.select_radio{
	display:none;
	}
.item .bank-logo{
	width:14px;
	padding-left:20px;
	height:14px;
	position:relative;
	top:10px;
	background:url(../images/lable.png) no-repeat;
	}
.item .bank-logo:hover{    	
    background:url(../images/lable_hover.png) no-repeat;}
.item .bank-logo.selected{
	background:url(../images/lable_down.png) no-repeat;
}
 .bank{
float: right;
width: 145px;
height: 32px;
border: 1px solid #DDD;
cursor: pointer;
display:block;
text-indent:-9999px;
	background:url(../images/banklist.png) no-repeat;
}
.bank .bank-logo{
	float:left;
	margin-left:5px
}
.bank--icbc{
	background-position:0 -646px;
}
.bank--cmb{
	background-position:0 -394px;
}
 .bank--ccb{
	background-position:0 -212px
}
 .bank--abc{
	background-position:0 0
}
 .bank--spdb{
	background-position:0 -898px
}
 .bank--sdb{
	background-position:0 -830px
}

 .bank--cib{
	background-position:0 -280px
}

 .bank--cebb{
	background-position:0 -246px
}

 .bank--boc{
	background-position:0 -144px
}

 .bank--cmbc{
	background-position:0 -468px
}

 .bank--bob{
	background-position:0 -110px
}
 .bank--zxyh{
	background-position:0 -1088px
}

 .bank--gdb, .bank--gfyh{
	background-position:0 -544px
}
 .bank--bofc{
	background-position:0 -178px
}
.bank--pspc{
	background-position:0 -796px
}
