@charset "utf-8";
/* CSS Document */
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: 100%;
	font-family: inherit
}
body {
color锛?000;
	background: #f7f7f7;
	text-aligh: center;
	font: 12px Arial, Helvetica, sans-serif, "宋体", "微软雅黑";
}
ol, ul, li {
	list-style: none;
}
img {
	margin: 0;
	padding: 0;
	border: none;
	outline: none
}
a {
	text-decoration: none;
	outline: none
}
.mainbox {
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #8bc73c;
	padding: 20px;
	margin-top: 10px;
	background-color: #fff;
}
table {
	margin: 0 auto;
}
tr {
	border-collapse: collapse;
	height: 45px;
	line-height: 45px;
}
td {
	border: 1px solid #ddd;
	text-align: center;
	border-bottom: none;
	padding-left: 15px;
}
.td2 {
	width: 800px;
	text-align: left
}
.td1 {
	width: 200px;
	border-right: none;
}
.content {
	width: 200px;
	border-right: none;
	border-bottom: 1px solid #ddd;
	height: 100px;
}
.content1 {
	width: 200px;
	border-bottom: 1px solid #ddd;
	height: 100px; text-align:left;
}
