<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" href="${ctxPath}/static/custom_new/css/common.css"
	rel="stylesheet" />
<link type="text/css" href="${ctxPath}/static/custom_new/css/style.css"
	rel="stylesheet" />
<script type="text/javascript"
	src="${ctxPath}/static/custom_new/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/custom_new/js/global.js"></script>
<script type="text/javascript"
	src="${ctxPath}/static/custom_new/js/jquery.flexslider-min.js"></script>
<title>餐点点</title>
</head>

<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('input,img,a,div,ul,li,p,i,b,ol');
</script>
<![endif]-->
<style>
body {
	behavior: url("${ctxPath}/static/custom_new/css/csshover.htc"); /*绝对路径*/
}
</style>

<body>
	<% include("../common/head.html"){}%>

	<!--导航start-->
	<div id="nav">
		<ul>
			<li><a href="${ctxPath}/" target="_self" class="current">首&nbsp;&nbsp;页</a></li>
			<li><a href="${ctxPath}/foodpackageSearch" target="_self">优惠套餐</a></li>
			<li><a href="${ctxPath}/goodsSearch" target="_self">特色美食</a></li>
			<li><a href="${ctxPath}/storeSearch" target="_self">店家搜索</a></li>
			<li><a href="${ctxPath}/" target="_self">商学院</a></li>
		</ul>
	</div>
	<!--导航end-->

	<!--幻灯片start-->
	<div class="banner">
		<div class="flexslider">
			<ul class="slides">
				<li><a href="##" target="_blank"><img
						src="${ctxPath}/static/custom_new/images/banner.jpg" width="1920"
						height="420" alt="1" /></a></li>
				<li><a href="##" target="_blank"><img
						src="${ctxPath}/static/custom_new/images/banner.jpg" width="1920"
						height="420" alt="2" /></a></li>
				<li><a href="##" target="_blank"><img
						src="${ctxPath}/static/custom_new/images/banner.jpg" width="1920"
						height="420" alt="3" /></a></li>
				<li><a href="##" target="_blank"><img
						src="${ctxPath}/static/custom_new/images/banner.jpg" width="1920"
						height="420" alt="4" /></a></li>
			</ul>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('.flexslider').flexslider();
		});
	</script>
	<!--幻灯片end-->

	<div class="line01"></div>

	<!--main start-->
	<div class="container" id="wrap">

		<!--人气美食start-->
		<div class="foodmain">
			<ul class="foodmain_Tab">
				<a href="javascript:void(0)" class="current">人气美食</a>
				<a href="javascript:void(0)">吃货专享</a>
				<a href="javascript:void(0)">宅神必备</a>
			</ul>
			<div class="foodnicelist">
				<ul>
					<% for(b in advertAdList){%>
					<%if(strutil.startWith(b.ad_area_code,"main_index_d")){%>
					<li><a href="${b.ad_url !}" target="_blank"> <b>${b.ad_text
								!}</b>
							<p>￥${b.ad_price !}</p> <!-- <del>￥158.00</del> --> <img
							src="http://www.37meishi.com/img${b.ad_pic!}" width="188"
							height="101" alt="${b.ad_text !}" />
					</a></li> <%}}%>
				</ul>
				<ul class="disable">
					<% for(b in advertAdList){%>
					<%if(strutil.startWith(b.ad_area_code,"main_index_e")){%>
					<li><a href="${b.ad_url !}" target="_blank"> <b>${b.ad_text
								!}</b>
							<p>￥${b.ad_price !}</p> <!-- <del>￥158.00</del> --> <img
							src="http://www.37meishi.com/img${b.ad_pic!}" width="188"
							height="101" alt="${b.ad_text !}" />
					</a></li> <%}}%>
				</ul>
				<ul class="disable">
					<% for(b in advertAdList){%>
					<%if(strutil.startWith(b.ad_area_code,"main_index_f")){%>
					<li><a href="${b.ad_url !}" target="_blank"> <b>${b.ad_text
								!}</b>
							<p>￥${b.ad_price !}</p> <!-- <del>￥158.00</del> --> <img
							src="http://www.37meishi.com/img${b.ad_pic!}" width="188"
							height="101" alt="${b.ad_text !}" />
					</a></li> <%}}%>
				</ul>
			</div>
		</div>
		<!--人气美食end-->

		<div class="line02"></div>

		<!--图片位start-->
		<div id="screenshot">
			<a href="##" target="_blank"> <img
				src="${ctxPath}/static/custom_new/images/img.jpg" width="1200" height="110"
				alt="" />
			</a>
		</div>
		<!--图片位end-->

		<div class="line02"></div>

		<!--特色美食start-->
		<div class="foodmain foodborderleft">
			<ul class="clearfix">
				<li class="foodleft fl">
					<div class="foodf foodfbottom">
						<h2 class="radius gbcolor01">
							1F <i>/</i> 特色美食
						</h2>
					</div>
					<div class="clearfix">
						<ul class="fl">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_h")){%>
							<a href="##" target="_blank"><img
								src="http://www.37meishi.com/img${b.ad_pic!}" width="254"
								height="386" alt="${b.ad_text !}" /></a> <%}}%>
						</ul>
						<ul class="foodfright fr">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_i")){%>
							<li><a href="##" target="_blank">
									<div>
										<img src="http://www.37meishi.com/img${b.ad_pic!}"
											width="188" height="101" alt="${b.ad_text !}" />
									</div>
									<h4>${b.ad_text !}</h4> <b>￥${b.ad_price !}</b>
							</a></li> <%}}%>
						</ul>
					</div>
				</li>
				<li class="foodright fr">
					<div class="foodrighttitle">
						<h2 class="font03 fl">商家资讯</h2>
						<a href="##" target="_blank" class="foodrightmore fr">更多</a>
					</div>
					<div class="foodrightinfo">
						<ul class="newslist01">
							<%var count9=0;%> <% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_j")){%>
							<%count9=count9+1;%>
							<li>
								<div class="fl">
									<a href="##" target="_blank"><img
										src="http://www.37meishi.com/img${b.ad_pic!}" width="104"
										height="68" alt="${b.ad_text !}" /></a>
								</div>
								<div class="fr">
									<h4 style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
										<a href="##" target="_blank" title="${b.ad_text !}">${b.ad_text !}</a>
									</h4>
									<p>
										<i>${b.ad_price !}</i>
									</p>
								</div>
							</li> <%}}%> <%for(var a=0; a<2-count9;a++){%>
							<li>
								<div class="fl">
									<a href="##" target="_blank"><img
										src="${ctxPath}/static/custom_new/images/ms03.jpg" width="104"
										height="68" alt="" /></a>
								</div>
								<div class="fr">
									<h4>
										<a href="##" target="_blank">黄豆焖猪蹄</a>
									</h4>
									<p>
										<i>美容养颜</i><i>抗衰老</i>
								</div>
							</li> <%}%>
						</ul>
						<ul class="newslist02">
							<% for(a in sjzx !){%>
							<li>
								<p class="fl" style="width:160px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
									<a
										href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}"
										target="_blank" title="${a.title}">${a.title}</a>
								</p> <i class="fr">${date(a.addtime!,'yyyyMMddHHmmss'),'yyyy-MM-dd'}</i>
							</li> <% }%>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!--特色美食end-->

		<div class="line02"></div>

		<!--图片位start-->
		<div id="screenshot">
			<a href="##" target="_blank"> <img
				src="${ctxPath}/static/custom_new/images/img.jpg" width="1200" height="110"
				alt="" />
			</a>
		</div>
		<!--图片位end-->

		<div class="line02"></div>

		<!--特色美食start   2F-->
		<div class="foodmain foodborderleft">
			<ul class="clearfix">
				<li class="foodleft fl">
					<div class="foodf foodfbottom01">
						<h2 class="radius gbcolor02">
							2F <i>/</i> 品牌美食
						</h2>
					</div>
					<div class="clearfix">
						<ul class="fl">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_l")){%>
							<a href="##" target="_blank"><img
								src="http://www.37meishi.com/img${b.ad_pic!}" width="254"
								height="386" alt="${b.ad_text !}" /></a> <%}}%>
						</ul>
						<ul class="foodfright fr">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_m")){%>
							<li><a href="##" target="_blank">
									<div>
										<img src="http://www.37meishi.com/img${b.ad_pic!}"
											width="188" height="101" alt="${b.ad_text !}" />
									</div>
									<h4>${b.ad_text !}</h4> <b>￥${b.ad_price !}</b>
							</a></li> <%}}%>
						</ul>
					</div>
				</li>
				<li class="foodright fr">
					<div class="foodrighttitle">
						<h2 class="font04 fl">行业资讯</h2>
						<a href="##" target="_blank" class="foodrightmore fr">更多</a>
					</div>
					<div class="foodrightinfo">
			          <ul class="newslist01">
			          <% 
			             var count13=0;
			             for(a in hyzx!){
							if(count13==2){
							 break;
							}
							count13++;
					   %>
			            <li>
			              <div class="fl"><a href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" target="_blank"><img src="http://www.37meishi.com/img${a.image!}" width="104" height="68" alt="${a.title!}" title="${a.title!}"/></a></div>
			              <div class="fr">
			                <h4 style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" title="${a.title!}">${a.title!}</a></h4>
			                <p><i><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}">[详细]</a></i></p>
			              </div>
			            </li>
			            <%}%>			            
			          </ul>
			          <ul class="newslist02">
			            <% var count14=0;
			             for(a in hyzx!){
			                count14++;
			                if(count14>2){
			            %>
			            <li>
			              <p class="fl" style="width:160px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" title="${a.title!}">${a.title!}</a></p>
			              <i class="fr">${date(a.addtime!,'yyyyMMddHHmmss'),'yyyy-MM-dd'}</i></li>	
			            <%}}%>		            
			          </ul>
			        </div>
				</li>
			</ul>
		</div>
		<!--特色美食end-->

		<div class="line02"></div>

		<!--图片位start-->
		<div id="screenshot">
			<a href="##" target="_blank"> <img
				src="${ctxPath}/static/custom_new/images/img.jpg" width="1200" height="110"
				alt="" />
			</a>
		</div>
		<!--图片位end-->

		<div class="line02"></div>

		<!--特色美食start  3F-->
		<div class="foodmain foodborderleft">
			<ul class="clearfix">
				<li class="foodleft fl">
					<div class="foodf foodfbottom02">
						<h2 class="radius gbcolor03">
							3F <i>/</i> 外卖专区
						</h2>
					</div>
					<div class="clearfix">
						<ul class="fl">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_o")){%>
							<a href="##" target="_blank"><img
								src="http://www.37meishi.com/img${b.ad_pic!}" width="254"
								height="386" alt="${b.ad_text !}" /></a> <%}}%>
						</ul>
						<ul class="foodfright fr">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_p")){%>
							<li><a href="##" target="_blank">
									<div>
										<img src="http://www.37meishi.com/img${b.ad_pic!}"
											width="188" height="101" alt="${b.ad_text !}" />
									</div>
									<h4>${b.ad_text !}</h4> <b>￥${b.ad_price !}</b>
							</a></li> <%}}%>
						</ul>
					</div>
				</li>
				<li class="foodright fr">
					<div class="foodrighttitle">
						<h2 class="font05 fl">饮食健康</h2>
						<a href="##" target="_blank" class="foodrightmore fr">更多</a>
					</div>
					<div class="foodrightinfo">
						<ul class="newslist01">
							<%var count20=0;%> <% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_q")){%>
							<%count20=count20+1;%>
							<li>
								<div class="fl">
									<a href="##" target="_blank"><img
										src="http://www.37meishi.com/img${b.ad_pic!}" width="104"
										height="68" alt="${b.ad_text !}" /></a>
								</div>
								<div class="fr">
									<h4 style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
										<a href="##" target="_blank" title="${b.ad_text !}">${b.ad_text !}</a>
									</h4>
									<p>
										<i>${b.ad_price !}</i>
									</p>
								</div>
							</li> <%}}%> <%for(var a=0; a<2-count20;a++){%>
							<li>
								<div class="fl">
									<a href="##" target="_blank"><img
										src="${ctxPath}/static/custom_new/images/ms03.jpg" width="104"
										height="68" alt="" /></a>
								</div>
								<div class="fr">
									<h4>
										<a href="##" target="_blank">黄豆焖猪蹄</a>
									</h4>
									<p>
										<i>美容养颜</i><i>抗衰老</i>
								</div>
							</li> <%}%>
						</ul>
						<ul class="newslist02">
							<% for(a in ysjk !){%>
							<li>
								<p class="fl" style="width:160px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
									<a
										href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}"
										target="_blank" title="${a.title}">${a.title}</a>
								</p> <i class="fr">${date(a.addtime!,'yyyyMMddHHmmss'),'yyyy-MM-dd'}</i>
							</li> <% }%>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!--特色美食end-->

		<div class="line02"></div>

		<!--图片位start-->
		<div id="screenshot">
			<a href="##" target="_blank"> <img
				src="${ctxPath}/static/custom_new/images/img.jpg" width="1200" height="110"
				alt="" />
			</a>
		</div>
		<!--图片位end-->

		<div class="line02"></div>

		<!--特色美食start 4F-->
		<div class="foodmain foodborderleft">
			<ul class="clearfix">
				<li class="foodleft fl">
					<div class="foodf foodfbottom03">
						<h2 class="radius gbcolor04">
							4F <i>/</i> 外卖专区
						</h2>
					</div>
					<div class="clearfix">
						<ul class="fl">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_s")){%>
							<a href="##" target="_blank"><img
								src="http://www.37meishi.com/img${b.ad_pic!}" width="254"
								height="386" alt="${b.ad_text !}" /></a> <%}}%>
						</ul>
						<ul class="foodfright fr">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_t")){%>
							<li><a href="##" target="_blank">
									<div>
										<img src="http://www.37meishi.com/img${b.ad_pic!}"
											width="188" height="101" alt="${b.ad_text !}" />
									</div>
									<h4>${b.ad_text !}</h4> <b>￥${b.ad_price !}</b>
							</a></li> <%}}%>
						</ul>
					</div>
				</li>
				<li class="foodright fr">
					<div class="foodrighttitle">
						<h2 class="font06 fl">美食DIY</h2>
						<a href="##" target="_blank" class="foodrightmore fr">更多</a>
					</div>
					<div class="foodrightinfo">
			          <ul class="newslist01">
			          <% 
			             count13=0;
			             for(a in msdiy!){
							if(count13==2){
							 break;
							}
							count13++;
					   %>
			            <li>
			              <div class="fl"><a href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" target="_blank"><img src="http://www.37meishi.com/img${a.image!}" width="104" height="68" alt="${a.title!}" title="${a.title!}"/></a></div>
			              <div class="fr">
			                <h4 style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" title="${a.title!}">${a.title!}</a></h4>
			                <p><i><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}">[详细]</a></i></p>
			              </div>
			            </li>
			            <%}%>			            
			          </ul>
			          <ul class="newslist02">
			            <% var count14=0;
			             for(a in msdiy!){
			                count14++;
			                if(count14>2){
			            %>
			            <li>
			              <p class="fl" style="width:160px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" title="${a.title!}">${a.title!}</a></p>
			              <i class="fr">${date(a.addtime!,'yyyyMMddHHmmss'),'yyyy-MM-dd'}</i></li>	
			            <%}}%>		            
			          </ul>
			        </div>
				</li>
			</ul>
		</div>
		<!--特色美食end-->

		<div class="line02"></div>

		<!--图片位start-->
		<div id="screenshot">
			<a href="##" target="_blank"> <img
				src="${ctxPath}/static/custom_new/images/img.jpg" width="1200" height="110"
				alt="" />
			</a>
		</div>
		<!--图片位end-->

		<div class="line02"></div>

		<!--特色美食start  5F-->
		<div class="foodmain foodborderleft">
			<ul class="clearfix">
				<li class="foodleft fl">
					<div class="foodf foodfbottom04">
						<h2 class="radius gbcolor05">
							5F <i>/</i> 外卖专区
						</h2>
					</div>
					<div class="clearfix">
						<ul class="fl">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_v")){%>
							<a href="##" target="_blank"><img
								src="http://www.37meishi.com/img${b.ad_pic!}" width="254"
								height="386" alt="${b.ad_text !}" /></a> <%}}%>
						</ul>
						<ul class="foodfright fr">
							<% for(b in advertAdList){%>
							<%if(strutil.startWith(b.ad_area_code,"main_index_w")){%>
							<li><a href="##" target="_blank">
									<div>
										<img src="http://www.37meishi.com/img${b.ad_pic!}"
											width="188" height="101" alt="${b.ad_text !}" />
									</div>
									<h4>${b.ad_text !}</h4> <b>￥${b.ad_price !}</b>
							</a></li> <%}}%>
						</ul>
					</div>
				</li>
				<li class="foodright fr">
					<div class="foodrighttitle">
						<h2 class="font07 fl">养生小贴</h2>
						<a href="##" target="_blank" class="foodrightmore fr">更多</a>
					</div>
					<div class="foodrightinfo">
			          <ul class="newslist01">
			          <% 
			             count13=0;
			             for(a in ysxt!){
							if(count13==2){
							 break;
							}
							count13++;
					   %>
			            <li>
			              <div class="fl"><a href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" target="_blank"><img src="http://www.37meishi.com/img${a.image!}" width="104" height="68" alt="${a.title!}" title="${a.title!}"/></a></div>
			              <div class="fr">
			                <h4 style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" title="${a.title!}">${a.title!}</a></h4>
			                <p><i><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}">[详细]</a></i></p>
			              </div>
			            </li>
			            <%}%>			            
			          </ul>
			          <ul class="newslist02">
			            <% count14=0;
			             for(a in ysxt!){
			                count14++;
			                if(count14>2){
			            %>
			            <li>
			              <p class="fl" style="width:160px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><a target="_blank" href="${ctxPath}/article/articleDetail?articleId=${a.id !}&typeId=${a.type_id}" title="${a.title!}">${a.title!}</a></p>
			              <i class="fr">${date(a.addtime!,'yyyyMMddHHmmss'),'yyyy-MM-dd'}</i></li>	
			            <%}}%>		            
			          </ul>
			        </div>
				</li>
			</ul>
		</div>
		<!--特色美食end-->

		<div class="line02"></div>

		<!--图片位start-->
		<div id="screenshot">
			<a href="##" target="_blank"> <img
				src="${ctxPath}/static/custom_new/images/img.jpg" width="1200" height="110"
				alt="" />
			</a>
		</div>
		<!--图片位end-->

		<div class="line02"></div>

		<!--品牌推荐start-->
		<div>
			<ul class="foodf foodfbottom05">
				<h2 class="radius gbcolor06 align01">品牌推荐</h2>
				<a href="##" target="_blank" class="foodrightmore fr">更多</a>
			</ul>
			<%var count31=0;%>	
			<% for(b in advertAdList){%>
			<%if(strutil.startWith(b.ad_area_code,"main_index_x")){%>
				<%count31=count31+1;%>
				<% if( (count31-1)%10 == 0){ %>
				<ul class="friends">
				<%}%>
				<li><a href="${b.ad_url!}" target="_blank"><img
						src="http://www.37meishi.com/img${b.ad_pic!}" alt="" /></a></li>
				<% if( count31%10 == 0){ %>
				</ul>
				<%}%>
			<%}}%>
			<%for(var a=0; a<20-count31;a++){%>
			    <% if( (a+count31)%10 == 0){ %>
				<ul class="friends">
				<%}%>
				<li><a onclick="clickToShow()"><img
						src="http://www.37meishi.com/static/custom/images/default/index/meishipinpai/01.jpg" /></a></li>
				<% if( (a+count31+1)%10 == 0){ %>
					</ul>
				<%}%>
			<%}%>
		</div>
		<!--品牌推荐start-->

		<div class="line02"></div>
		<div class="line02"></div>

		<!--品牌推荐start-->
		<div>
			<ul class="foodf foodfbottom06">
				<h2 class="radius gbcolor07 align01">品牌推荐</h2>
				<a href="##" target="_blank" class="foodrightmore fr">更多</a>
			</ul>
			<ul class="recommend">				
				<%var count32=0;%>	
				<% for(b in advertAdList){%>
				<%if(strutil.startWith(b.ad_area_code,"main_index_y")){%>
					<%count32=count32+1;%>			
				     <li><a href="${b.ad_url!}" target="_blank">
							<h4>${b.ad_text!}</h4>
							<p></p> <b>￥${b.ad_desc!}</b> <img
							src="http://www.37meishi.com/img${b.ad_pic!}" width="188"
							height="101" alt="${b.ad_text!}" />
					</a></li>
				<%}}%>
				<%for(var a=0; a<5-count32;a++){%>				
				   <li><a href="clickToShow()" target="_blank">
							<h4>柏翠客浦烘焙大赛</h4>
							<p></p> <b>金秋10月，为爱起烘！全民金等你拿！</b> <img
							src="${ctxPath}/static/custom/images/default/index/huodong/1_03.jpg" width="188"
							height="101" alt="柏翠客浦烘焙大赛" />
					</a></li>
				<%}%>
			</ul>
		</div>
		<!--品牌推荐start-->

	</div>
	<!--main end-->

	<div class="line02"></div>

	<% include("../common/foot.html"){}%>
</body>
</html>
