<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="0">
		<meta name="keywords"
			content="美食,37,37美食,美食网,色美食,美食网站,餐饮,餐饮网站,餐饮加盟,餐饮服务,特色小吃,外卖,外卖网,网上订餐,在线订餐,特色餐厅食">
			<meta name="description"
				content="37美食网是中国最大的餐饮服务平台，集团购、外卖、餐饮招聘、餐饮原材料购买为一体的多元化网站。超低折扣，100%品质保证,每天多单精品团购,为您精选美食；37美食网是您身边最大最好的餐饮美食服务平台。">
				<title>${session.cur_city.name!"郑州市"}-优惠套餐</title>
	<link type="text/css" rel="stylesheet"
	href="${ctxPath}/static/custom/css/storeSearch.css" />
</head>
<body>
	<% include("../common/head.html"){}%>
	<!--商品筛选开始----------------------------------------->
	<div class="buyBoxRight01">
		<div id='buyBR02Hide'></div>
		<script>
			function showup() {
				var buyBR02Hide = document.getElementById("buyBR02Hide");
				if (buyBR02Hide.style.display == 'block') {
					buyBR02Hide.style.display = 'none';
					buy_down.style.background = 'url(${ctxPath}/static/custom/images/selection_down.png)';
				} else {
					buyBR02Hide.style.display = 'block';
					buy_down.style.background = 'url(${ctxPath}/static/custom/images/selection_up.png)';
				}
			}
		</script>
	</div>
	<!--商品筛选结束---------------------------------------->
	<script type="text/javascript">
		var navs = document.getElementById("navBox").getElementsByTagName("li");
		navs[0].className = "";
		navs[1].className = "navBoxDown";
	</script>
	<!--zhuti开始----------------------------------------->
	<div class="content">
		<div class="position">当前位置：<a href="${ctxPath}/">首页</a>&gt;优惠套餐</div>
		<div class="filter">
			<div class="area">
				<div class="area_title">菜系分类： </div><div class="area_content"><a <%if (params.categoryId!""==""){%>class="on"<%}%>
					href="${ctxPath}/foodpackageSearch?categoryId=&areaId=${params.areaId}&smallPrice=${params.smallPrice}&largePrice=${params.largePrice}&sort=${params.sort}">不限</a>
				<% for (meal in mealCategory){%> <a <%if(params.categoryId!""==meal.id){%>class="on"<%}%>
					href="${ctxPath}/foodpackageSearch?categoryId=${meal.id}&areaId=${params.areaId}&smallPrice=${params.smallPrice}&largePrice=${params.largePrice}&sort=${params.sort}">${meal.name}</a>

				<%}%>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="border area">
				<div class="area_title">区域分类： </div><div class="area_content"><a <%if (params.areaId!""==""){%>class="on"<%}%> href="${ctxPath}/foodpackageSearch?categoryId=${params.categoryId}&areaId=&smallPrice=${params.smallPrice}&largePrice=${params.largePrice}&sort=${params.sort}">不限</a>
				<%for (area in areaList){%>
				 
				  <a <%if (params.areaId!""==area.id){%>class="on"<%}%> href="${ctxPath}/foodpackageSearch?categoryId=${params.categoryId}&areaId=${area.id}&smallPrice=${params.smallPrice}&largePrice=${params.largePrice}&sort=${params.sort}">${area.name}</a>
				
				<%}%>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="area">
				<% var price1=params.smallPrice!''; var price2=params.largePrice!''; var result=price1+"-"+price2;
					%>
				<div class="area1">
					价格区间：<a <%if(result=='-'){%>class="on"<%}%> href="${ctxPath}/foodpackageSearch?categoryId=${params.categoryId}&areaId=${params.areaId}&smallPrice=&largePrice=&sort=${params.sort}">不限</a>
					<%for (data in dataDicList){%>
					<a <%if(result==data.code){%>class="on"<%}%> href="${ctxPath}/foodpackageSearch?categoryId=${params.categoryId}&areaId=${params.areaId}&smallPrice=${strutil.subStringTo(data.code!'',0,2)}&largePrice=${strutil.subStringTo(data.code!'',3,5)}&sort=${params.sort}">${data.code_name}</a>
					<%}%>
				</div>
				<div class="area2">
					<input type="text" class="input_short">-<input type="text"
						class="input_short"><a href="#">确定</a>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="sort" id="sort">
			<a href="${ctxPath}/foodpackageSearch?categoryId=${params.categoryId}&areaId=${params.areaId}&smallPrice=${params.smallPrice}&largePrice=${params.largePrice}&nav=0" class="active01">默认</a> 
			<a href="${ctxPath}/foodpackageSearch?categoryId=${params.categoryId}&areaId=${params.areaId}&smallPrice=${params.smallPrice}&largePrice=${params.largePrice}&sort=sales_count&nav=1">销量</a>
			 <a href="${ctxPath}/foodpackageSearch?categoryId=${params.categoryId}&areaId=${params.areaId}&smallPrice=${params.smallPrice}&largePrice=${params.largePrice}&sort=price&nav=2">价格</a>
		</div>
		<script type="text/javascript">
		var navs = document.getElementById("sort").getElementsByTagName("a");
		navs[0].className = "";
		navs[${params.nav!0}].className = "active01";
	</script>
		<div class="main">
			<div class="main_left">
				<div class="main_content">
					<%for (meal in page.list){%>
					<div class="shopSearchBox">
						<div>
							<a href="${ctxPath}/foodpackage/view?id=${meal.id}&type=${meal.type}">
							<% if(meal.image!'' != ''){ %> 
							<img src="/img${meal.image !}" />
							<%}else{%>
							<img src="${ctxPath}/static/custom/imagesPage03/storeSearch_01.jpg" />
							<%}%>
							</a>
						</div>
						<div class="shopSearchBox_titleBox">
							<div class="shopSearchBox_title">${meal.name !}</div>
							<div class="shopSearchBox_describe">
								<div class="shopSearchBox_D01">
									<img src="${ctxPath}/static/custom/imagesPage03/star.jpg" /><img
										src="${ctxPath}/static/custom/imagesPage03/star.jpg" /><img
										src="${ctxPath}/static/custom/imagesPage03/star.jpg" /><img
										src="${ctxPath}/static/custom/imagesPage03/star.jpg" /><img
										src="${ctxPath}/static/custom/imagesPage03/star.jpg" />
								</div>
								<div class="shopSearchBox_D02">已售200份</div>
							</div>
							<div class="shopSearchBox_content">
								<div class="shopSearchBox_content1">
									<span>￥</span>${meal.price !}
								</div>
								<a href="${ctxPath}/foodpackage/view?id=${meal.id}&type=${meal.type}" target="_blank">抢购</a>
							</div>
						</div>
					</div>
					<%}%>
				</div>
				<div class="pagination"><%
					include("../common/_pagination.html",{page:page}){}%></div>
			</div>
			<div class="main_right">
				<div class="title">热门商品</div>
				<%var count=0;%>	
				<% for(b in advertAd){%>
				<%count=count+1;%>
				<div class="goods">
					<div class="goods_t">
						<a target="_BLANK" href="${b.ad_url!}"><img alt=""
							src="/img${b.ad_pic!}"></a>
					</div>
					<div class="goods_b">
						<span class="price">￥${b.ad_price!}</span><span class="sale_count">销量：233</span>
					</div>
				</div>
				<%}%>
				<%for(var a=0; a<5-count;a++){%>
				<div class="goods">
					<div class="goods_t">
						<a><img alt=""
							src="${ctxPath}/static/custom/imagesPage04/goods01.jpg"></a>
					</div>
					<div class="goods_b">
						<span class="price">￥68.60</span><span class="sale_count">销量：233</span>
					</div>
				</div>
				<%}%>
			</div>
			<div class="floor_right_box" style="margin-left: 0px;">
				<div class="floor_right">
					<div class="floor_right_head">养生小贴</div>
					<div class="floor_right_content">
						<div class="floor_right_content_t">
							<div class="item"
								style="height: 230px; margin: 0 0; width: 250px; padding-left: 5px; padding-top: 10px;">
								<div class="item_l_down">
									<a href="#"><img alt=""
										src="${ctxPath}/static/custom/images/3.jpg" /></a><a href="#">国家工作人员</a>
								</div>
								<div class="item_l_down">
									<a href="#"><img alt=""
										src="${ctxPath}/static/custom/images/3.jpg" /></a><a href="#">国家工作人员</a>
								</div>
								<div class="item_l_down">
									<a href="#"><img alt=""
										src="${ctxPath}/static/custom/images/3.jpg" /></a><a href="#">国家工作人员</a>
								</div>
								<div class="item_l_down">
									<a href="#"><img alt=""
										src="${ctxPath}/static/custom/images/3.jpg" /></a><a href="#">国家工作人员</a>
								</div>
							</div>
						</div>
						<div class="floor_right_content_b">
							<ul>
								<li><a href="#">西红柿怎么样防挨效果最好？</a></li>
								<li><a href="#">西红柿怎么样防挨效果最好？？</a></li>
								<li><a href="#">西红柿怎么样防挨效果最好？</a></li>
								<li><a href="#">西红柿怎么样防挨效果最好？？</a></li>
								<li><a href="#">西红柿怎么样防挨效果最好？</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
	<% include("../common/foot.html"){}%>
</body>

</html>
