<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>站内信-发送页</title>
<link href="${ctxPath}/static/custom/css/fs-css.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!--主题部分-->
<div class="mainbox">
<form id="sendmessage">
<input type="hidden" name="message.to_member_id" value="${member.id!}" />
  <ul class="main">
    <li><span>收件人：</span>
      <input type="text"  class="srk" value="${member.username!}" disabled="disabled"/>
    </li>
    <li><span>标&nbsp;&nbsp;&nbsp;&nbsp;题：</span>
      <input type="text" placeholder="餐饮业下一机遇点在哪里?" class="srk" name="message.title" />
    </li>
    <li><span style="float:left;">正&nbsp;&nbsp;&nbsp;&nbsp;文：</span>
         <textarea class="webpj" name="message.info"></textarea>
    </li>
    <li>
      <button type="submit" class="anniu" style=" clear: both;" >发送</button>
    </li>
  </ul>
  </form>
</div>

<script type="text/javascript"	src="${ctxPath}/static/custom/js/jquery-1.9.1.min.js"></script>
<script src="${ctxPath}/static/custom/js/common.js"></script>
	<script src="${ctxPath}/static/jquery/validator/jquery.validate.min.js"></script>
	<script src="${ctxPath}/static/jquery/jquery.form.js"></script>
	<script src="${ctxPath}/static/layer/1.8.5/layer.min.js"></script>
	<script type="text/javascript"src="${ctxPath}/static/layer/laydate/laydate.js"></script>
<script type="text/javascript">
$().ready(function() {
	$("#sendmessage").validate({
		  submitHandler : function(form) {
	            $(form).ajaxSubmit({
	                type : "post",
	                url : MSConfig.BaseURL+"/account/message/send",
	                dataType : "json",
	                success : function(result) {
	                    if(result.isLogin){
	                            parent.location.reload();
	                            var index = parent.layer.getFrameIndex(window.name);
	                            parent.layer.close(index);
	                    }else{
	                    	layer.alert("发送失败！");
	                    }
	                }
	            });
			  }
	});	
});
</script>
</body>
</html>
