<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0">
<link href="${ctxPath}/static/custom/css/store.css" rel="stylesheet"
	type="text/css">
<script type="text/javascript" src="${ctxPath}/static/custom/js/ajax.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/custom/js/goods.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/custom/js/buycoupon.js"></script>
	<title>${store.name !}-店铺主页</title>
</head>
<body>
	<% include("../common/storehead.html"){}%>
	
	<!-- 排序 -->
	<div class="sort" id="sort">
		<a href="${ctxPath}/store/searcheSetMeal?storeId=${store.id}&nav=0" class="active01">默认</a> 
		<a href="${ctxPath}/store/searcheSetMeal?storeId=${store.id}&sort=s.sales_count&nav=1">销量</a>
		 <a href="${ctxPath}/store/searcheSetMeal?storeId=${store.id}&sort=price&nav=2">价格</a>
		<span>美食广告的艺术，不仅是视觉上的冲击，还勾起了人的食欲觉上的冲击，还勾起了人的食欲</span>
	</div>
	<script type="text/javascript">
		var navs = document.getElementById("sort").getElementsByTagName("a");
		navs[0].className = "";
		navs[${params.nav!0}].className = "active01";
	</script>
	<!-- 内容 -->
	<div class="main">
		<div class="main_left">
			<div class="main_content">
				<%for (s in foodPackage.list){%>
				<div class="shopSearchBox">
					<div>
						<a target="_blank" href="${ctxPath}/foodpackage/view?id=${s.id}&type=${s.type}">
						<% if(s.image!'' != ''){ %> 
							<img src="/img${s.image !}" />
							<%}else{%>
							<img src="${ctxPath}/static/custom/imagesPage03/storeSearch_01.jpg" />
						<%}%>
						</a>
					</div>
					<div class="shopSearchBox_titleBox">
						<div class="shopSearchBox_title">${s.name}</div>
						<div class="shopSearchBox_describe">
							<div class="shopSearchBox_D01">
								<img src="${ctxPath}/static/custom/images/star.jpg" /><img
									src="${ctxPath}/static/custom/images/star.jpg" /><img
									src="${ctxPath}/static/custom/images/star.jpg" /><img
									src="${ctxPath}/static/custom/images/star.jpg" /><img
									src="${ctxPath}/static/custom/images/star.jpg" />
							</div>
							<div class="shopSearchBox_D02">已售${s.sales_volume!0}份</div>
						</div>
						<div class="shopSearchBox_content">
							<div class="shopSearchBox_content1">
								<span>￥</span>${s.price}
							</div>
							<div id="gshow_${s.id}" style="height: 50px;width: 50px; display:none"><img style="height: 50px;width: 50px;" src="${ctxPath}/static/custom/images/star.jpg" alt=""/></div>
							<%if(s.type!''=='1'){%>
							<a href="javascript:void(0)" onclick="addCart('${store.id}','${s.id}','${isSetMeal!1}',this,$('#flyItem_${s.id}'))">抢购</a>
							<%}else{%>
							<a href="javascript:void(0)" onclick="buy('${s.id}')">抢购</a>
							<%}%>
						</div>
					</div>
				</div>
				<div id="flyItem_${s.id}" style="display: none;height: 50px;width: 50px;">
					<img height="50" width="50" src="/img${s.image}">
				</div>
				<%}%>
			</div>
			<div class="pagination">
				<% include("../common/_pagination.html",{page:foodPackage}){}%>
			</div>
		</div>
		<div class="main_right">
			<div class="welcome_box">
				<img alt="" src="${ctxPath}/static/custom/images/welcome.jpg">
				<div class="welcome_text">
					<b>工作时间</b>
					<p>早${store.worktime_from}~晚${store.worktime_to}</p>
					<p>全年无休</p>
				</div>
				<div class="welcome_text">
					<b>联系方式</b>
					<p>联系电话：${store.tel}</p>
					<p>地址：${store.address}</p>
				</div>
			</div>

			<!-- menu end -->
			<div class="store_info">
				<div class="store_info_title">基本信息</div>
				<div class="store_info_content">
					<div class="description">
						<img style="width: 229px;height: 170px;" alt="" src="/img${store.logo_image !}">
							<p>${store.description !}</p>
					</div>
					<div class="map">
						<div class="map_t">
							<div id="container" style="width:230px;height:200px"></div>
						</div>
						<div class="map_b">
							<img alt="" src="${ctxPath}/static/custom/images/search.jpg"><a
								href="#">查看完整地图</a>
						</div>
					</div>
				</div>
			</div>
			<!-- store info end -->
			<div class="main_right">
				<div class="title">本店特色</div>
				<div class="goods">
					<div class="goods_t">
						<img alt="" src="${ctxPath}/static/custom/images/goods01.jpg">
					</div>
					<div class="goods_b">
						<span class="price">￥68.60</span><span class="sale_count">销量：233</span>
					</div>
				</div>
				<div class="goods">
					<div class="goods_t">
						<img alt="" src="${ctxPath}/static/custom/images/goods01.jpg">
					</div>
					<div class="goods_b">
						<span class="price">￥68.60</span><span class="sale_count">销量：233</span>
					</div>
				</div>
				<div class="goods">
					<div class="goods_t">
						<img alt="" src="${ctxPath}/static/custom/images/goods01.jpg">
					</div>
					<div class="goods_b">
						<span class="price">￥68.60</span><span class="sale_count">销量：233</span>
					</div>
				</div>
				<div class="goods">
					<div class="goods_t">
						<img alt="" src="${ctxPath}/static/custom/images/goods01.jpg">
					</div>
					<div class="goods_b">
						<span class="price">￥68.60</span><span class="sale_count">销量：233</span>
					</div>
				</div>
				<div class="goods">
					<div class="goods_t">
						<img alt="" src="${ctxPath}/static/custom/images/goods01.jpg">
					</div>
					<div class="goods_b">
						<span class="price">￥68.60</span><span class="sale_count">销量：233</span>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	<script type="text/javascript">
		//	$("#goods").load("./store/searchGoods?storeId=${store.id}");
	</script>
	<script type="text/javascript" src="${ctxPath}/static/layer/1.8.5/layer.min.js"></script>
	<script type="text/javascript" src="http://map.qq.com/api/js?v=2.exp&callback=init&key=TB5BZ-RRLWP-7Z2DL-VDY7Y-SKQUE-BMBIS"></script>
<script type="text/javascript">
	var lat_= new Number('${store.position_lat}');
	var lng_= new Number('${store.position_lng}');
	function init() {
		var center = new qq.maps.LatLng(lat_,lng_);
		var map = new qq.maps.Map(document.getElementById('container'),{
			center: center,
			zoom: 13
		});
		var marker = new qq.maps.Marker({
			position: center,
			map: map
		});
	}

</script>
	<% include("../common/foot.html"){}%>
</body>
</html>