<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/public.css"/>
<link rel="stylesheet" type="text/css" href="css/security.css"/>
<title>Insert title here</title>
</head>
<body>
<div class="wrap">
<div class="myPane">
<div class="myPane_head">安全中心</div>
<div class="myPane_content">
<div class="notice_bar">您正在修改绑定的手机<span class="red">151****8536</span>请选择修改方式：</div>
<div class="methods_w">
<div class="method">
<div class="img_w"><div class="phone_img"></div></div>
<div class="info">
<div class="info_t">通过<span class="green">手机号</span></div>
<div class="info_b">只需填写绑定的手机号</div>
</div>
<div class="btn_w2"><button class="btn_green">去修改</button></div>
<div style="clear:both;"></div>
</div>
<div class="method">
<div class="img_w"><div class="phone_img"></div></div>
<div class="info">
<div class="info_t">通过<span class="green">绑定的手机</span></div>
<div class="info_b">需要你绑定的手机可进行短信验证</div>
</div>
<div class="btn_w2"><button class="btn_green">去修改</button></div>
<div style="clear:both;"></div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>