<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/public.css"/>
<link rel="stylesheet" type="text/css" href="css/security.css"/>
<title>Insert title here</title>
</head>
<body>
<div class="wrap">
<div class="pane">
<div class="pane_head">修改邮箱</div>
<div class="pane_content">
<div class="form">
<div class="row"><label class="field">用户名：</label><span class="input_w">zhang</span><span class="notice"></span></div>
<div class="row"><label class="field">邮&nbsp;&nbsp;&nbsp;箱：</label><span class="input_w"><input type="text"></span><span class="notice">*请输入新邮箱</span></div>
<div class="row">
<div class="label">验证码：</div>
<div class="label_content">
<div ><input type="text"></div>
<div class="captcha"><img alt="" src="images/storeManage/captcha.jpeg"><a href="#">看不清楚换一张？</a></div>
</div>
<div style="clear:both;"></div>
</div>
<div class="btn_w"><button class="btn_green">确认</button></div>
</div>
</div>
</div>
</div>
</body>
</html>