<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/public.css"/>
<link rel="stylesheet" type="text/css" href="css/security.css"/>
<title>Insert title here</title>
</head>
<body>
<div class="wrap">
<div class="pane">
<div class="pane_head">设置支付密码</div>
<div class="pane_content">
<div class="form">
<div class="row"><label class="field">设置支付密码：</label><span class="input_w"><input type="text"></span><span class="notice">安全等级&nbsp;<span class="out_bar"><span class="inside_bar"></span></span>&nbsp;<span>弱</span></span></div>
<div class="row"><label class="field">确认支付密码：</label><span class="input_w"><input type="text"></span><span class="notice">两次输入密码必须一致！</span></div>
<div class="bind_phone">
<div class="phone">已绑定的手机：<span class="red">186****8009</span></div>
<div class="btn_w1"><button type="button">获取验证码</button></div>
</div>
<div class="row"><label class="field">验证码：</label><span class="input_w"><input type="text"></span></div>
<div class="btn_w"><button class="btn_green">确认</button></div>
</div>
</div>
</div>
</div>
</body>
</html>