<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/public.css"/>
<link rel="stylesheet" type="text/css" href="css/security.css"/>
<title>Insert title here</title>
</head>
<body>
<div class="wrap">
<div class="pane">
<div class="pane_head">修改手机</div>
<div class="pane_content">
<div class="form">
<div class="row"><label class="field">您的手机号：</label><span class="input_w"><input type="text"><button type="button">获取验证码</button></span><span class="notice"></span></div>
<div class="row"><label class="field">短信验证码：</label><span class="input_w"><input type="text"></span><span class="notice"></span></div>

<div class="btn_w"><button class="btn_green">确认</button></div>
</div>
</div>
</div>
</div>
</body>
</html>