<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/public.css"/>
<link rel="stylesheet" type="text/css" href="css/security.css"/>
<title>Insert title here</title>
</head>
<body>
<div class="wrap">
<div class="myPane">
<div class="myPane_head">安全中心</div>
<div class="myPane_content">
<div class="notice_bar">需要验证您的身份：</div>
<div class="main">
<form action="">
<div class="row"><span class="field1"></span><span>135****1620</span></div>
<div class="row"><span class="field1">请填写已绑定的手机号：</span><span><input type="text"></span></div>
<div class="btn_w"><button class="btn_green" type="submit">确认</button></div>
</form>
</div>
</div>
</div>
</div>
</body>
</html>