<% var current=page.pageNumber;
var begin=page.pageNumber-page.pageNumber%5+1; var end=6;
if(page.totalPage-begin<=5){ end=page.totalPage; }else{ end=begin+5; }
%>
<div class="pagination">
	<%if(current>1){%><a href="javascript:;"
		onclick="goPage('${current-1}')" class="btn">&lt;</a><%}%> <%for(var
	i=begin;i<=end;i++){%><a href="javascript:;" onclick="goPage('${i}')"
		class="btn <%if(i==current){%>active<%}%>">${i}</a><%}%>
	<%if(end!=page.totalPage){%><span>...</span><%}%>
	<%if(current < page.totalPage){%>
	<a href="javascript:;" onclick="goPage('${current+1}')" class="btn">&gt;</a>
	<%}%> <span>共${page.totalPage}页</span>
	<span>去第<input type="text" class="input_ss" value="${toPage!}">页
	</span>
	<button onclick="toPage()">确定</button>
</div>
<script type="text/javascript">
	function goPage(i) {
		var div="${div}";
		var url="${url}";
		if(div!=""&&url!=""){
			$("#"+div).load(MSConfig.BaseURL+"/"+url+"?pageNum=" + i+"&url="+url+"&div="+div+"&${page_params}");
		}
	}

	function toPage(){
		var pageIndex=$('.input_ss').val();

		if(!pageIndex.match(/^\+?[1-9][0-9]*$/)){
			return ;
		}
		var div="${div}";
		var url="${url}";
		if(div!=""&&url!=""){
			$("#"+div).load(MSConfig.BaseURL+"/"+url+"?pageNum=" + pageIndex+"&url="+url+"&div="+div+"&${page_params}&toPage="+pageIndex);
		}
	}
</script>