<% var current=page.pageNumber; var n=page.pageNumber-1; var
begin=n-n%5+1; var end=6; if(page.totalPage-begin<=5){
end=page.totalPage; }else{ end=begin+5; } %>
<ul class="page">
	<%if(current>1){%>
	<a href="?pageNum=${current-1}&${page_params!}" class="al radius">上一页</a>
	<%}%>
	<%for(var i=begin;i<=end;i++){%>
	<%if(i==current){%>
	<span>${i}</span>
	<%}else{%>
	<a href="?pageNum=${i}&${page_params!}">${i}</a>
	<%}}%>
	<%if(end!=page.totalPage){%>
	<span>...</span>
	<%}%> 
	<%if(current<page.totalPage){%>
	<a	href="?pageNum=${current+1}&${page_params!}" class="ar radius">下一页</a>
	<%}%>
	 共${page.totalPage}页 
	去第<input type="text" class="default" >页
	<button>确定</button>
</ul>   