<!----底部开始-------------------------------------------------------------->
<!--底部start-->
<div id="footer">
  <div class="app">
    <ul id="wrap" class="container">
      <li><img src="${ctxPath}/static/custom_new/images/ms14.jpg" width="285" height="119" alt="" /></li>
      <li><img src="${ctxPath}/static/custom_new/images/ms15.jpg" width="285" height="119" alt="" /></li>
      <li><img src="${ctxPath}/static/custom_new/images/ms16.jpg" width="285" height="119" alt="" /></li>
      <li><img src="${ctxPath}/static/custom_new/images/ms17.jpg" width="285" height="119" alt="" /></li>
    </ul>
  </div>
  <div class="container" id="wrap">
    <ul class="friendlink clearfix">
      <li><span>友情链接:</span></li>
      <%for(link in friendLinkList!){%>
		<li><a href="${link.url_link}" target="_blank">${link.url_name}</a></li>
	  <%}%>
    </ul>
    <ul class="footerabout">
      <li><a href="##" target="_blank">关于我们</a></li>
      <li>|</li>
      <li><a href="##" target="_blank">联系我们</a></li>
      <li>|</li>
      <li><a href="##" target="_blank">人才招聘</a></li>
      <li>|</li>
      <li><a href="##" target="_blank">隐身政策</a></li>
      <li>|</li>
      <li><a href="##" target="_blank">网站地图</a></li>
      <li>|</li>
      <li><a href="##" target="_blank">设餐点点网为首页</a></li> 
    </ul>
    <ul class="copyright">
      <p>COPYRIGHT©2007-2009 版权所有：北京餐点点科技有限公司 备案号：京ICP备15053846号-1</p>
    </ul>
    <ul class="footerimg">
    <li><img src="${ctxPath}/static/custom_new/images/cp01.jpg" width="121" height="45" alt="" /></li>
    <li><img src="${ctxPath}/static/custom_new/images/cp02.jpg" width="175" height="45" alt="" /></li>
    <li><img src="${ctxPath}/static/custom_new/images/cp03.jpg" width="128" height="45" alt="" /></li>
    <li><img src="${ctxPath}/static/custom_new/images/cp04.jpg" width="150" height="45" alt="" /></li>
    </ul>
  </div>
</div>
<!--底部end-->