<!--头部start-->
<div id="header">
  <div class="topnav">
    <div id="wrap">
      <ul class="fl">
        <li>
          <p class="font01">您好，<a href="##" target="" class="font01">请登录</a></p>
        </li>
        <li><a href="##" target="_blank">免费注册</a></li>
        <li><a href="##" target="_blank" class="font01">邀请返利</a></li>
      </ul>
      <ul class="fr">
        <li><a href="##" title="" class="font02 ico01">手机版</a></li>
        <li class="spacer"></li>
        <li><a href="##" title="">免费开店</a></li>
        <li class="spacer"></li>
        <li><a href="##" title="">我的订单</a></li>
        <li class="spacer"></li>
        <li><a href="##" title="">我的菜单</a></li>
        <li class="spacer"></li>
        <li><a href="##" title="">客户服务</a></li>
        <li class="spacer"></li>
        <li><a href="##" title="">站点导航</a></li>
        <li class="spacer"></li>
        <li><a href="##" title="" class="ico02">关注我们</a></li>
      </ul>
    </div>
  </div>
  <div class="headermain" id="wrap">
    <ul class="logo fl">
      <a href="##" title=""><img src="${ctxPath}/static/custom_new/images/logo.jpg" width="201" height="66" alt="" /></a>
      <h1>餐点点</h1>
    </ul>
    <ul class="area fl">
      <b>郑州市</b> <a href="javascript:void(0)">切换城市</a>
    </ul>
    <ul class="search fl">
      <li class="searchinfo">
        <input type="text" value="店铺" readonly onClick="searchtype(true)" id="searchtype"/>
        <input type="text" value="" placeholder="输入关键词" class="searchtext" />
        <input type="button" value="搜索" class="searchbutton" />
        <div id="searchlist">
          <p pl="店铺">店铺</p>
          <p pl="商品">商品</p>         
        </div>
      </li>
    </ul>
    <ul class="shop fr">
      <li><a href="#" title="" class="ico03">我的菜单</a></li>
      <li><a href="#" title="" class="ico04">去购物车结算<i class="radius">55</i></a></li>
    </ul>
  </div>
</div>
<!--头部end--> 