<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="${ctxPath}/static/custom/css/goods.css" rel="stylesheet" type="text/css">
<title>${store.name!}-${goods.name!}-${goods.keywords!}</title>
</head>
<body>
<!--头部----------------------------------------->
<% include("../common/storehead.html"){}%>
<!-- 头部结束 -->
<div class="goods_head_w">
<div class="goods_head">
<div class="position"><a href="${ctxPath}/store?storeId=${store.id}">店铺首页</a>&gt;商品详情</div>
<div class="goods_box">
<div class="goods_img_box">
<div class="big_img">
	<img  src="/img${goods.goods_image}">
</div>
<div class="small_imgs">
	<% for(img_ in goodsImgs!){%>
	<img alt="" src="/img${img_.img_url}">
	<% }%>
</div>
</div>
<div class="goods_info_box">
<div class="goods_info_top"><span>${goods.name}</span><a href="#address">查看地址/电话</a></div>
<div class="goods_info_description">${goods.description_short}</div>
<div class="goods_info_price">
<div class="goods_info_price_l"><span>￥</span>${goods.sales_price}</div>
<div class="goods_info_price_r">
<!--  
<div class="discount">8折</div>
<div class="original_price"><s>￥${goods.original_price}</s></div>-->
</div>
<div style="clear:both;"></div>
</div>
<div class="goods_info_pane">
<div class="goods_info_pane_l">${goodsStatistics.sale_num}人已购买</div>
<div class="goods_info_pane_c">
	<img alt="" src="${ctxPath}/static/custom/images/store/star_red.jpg">
	<img alt="" src="${ctxPath}/static/custom/images/store/star_red.jpg">
	<img alt="" src="${ctxPath}/static/custom/images/store/star_red.jpg">
	<img alt="" src="${ctxPath}/static/custom/images/store/star_red.jpg">
	<img alt="" src="${ctxPath}/static/custom/images/store/star_red.jpg">5分<br>15条评论</div>
	<!-- 
<div class="goods_info_pane_r"><img alt="" src="${ctxPath}/static/custom/images/store/tui.jpg">随便退</div> -->
<div style="clear:both;"></div>
</div>
<div class="goods_info_bottom">
<p>使用时间：${store.worktime_from!}至${store.worktime_to!}</p>
<p>有效期：截止到2015.02.12<span>周末/法定节假日通用</span></p>
</div>
<div class="goods_info_btn"><a href="javascript:void(0)" onclick="addCart('${store.id}','${goods.id}','${isSetMeal!0}',this,$('#flyItem'))">加入菜单</a></div>
<div id="flyItem" class="fly_item" style="display: none;">
	<img height="50" width="50" src="/img${goods.goods_image}">
</div>
</div>
<div style="clear:both;"></div>
</div>
</div>
</div>
<div class="goods_content_w">
<div class="goods_content">
<div class="goods_content_left">
<ul class="my_tab" >
<li><a href="javascript:;" class="active" >本单详情</a></li>
</ul>
<div class="tab_content">
<div class="detail_title" id="address">商家位置</div>
<div class="address_info">
<div class="address_info_left">
<div class="address_info_left_t">
	<div id="container" style="width:100%;height:300px"></div>
</div>
<div class="address_info_left_b"><img alt="" src="${ctxPath}/static/custom/images/search.jpg">查看完整地图</div>
</div>
<div class="address_info_right">
<div class="store_name">${store.name!}</div>
<table>
<tr><td width="60px">信&nbsp;&nbsp;用&nbsp;&nbsp;度：</td><td><img alt="" src="${ctxPath}/static/custom/images/store/heart.jpg"></td></tr>
<tr><td valign="top">详细地址：</td><td>${store.address!}</td></tr>
<tr><td>营业时间：</td><td>${store.worktime_from!}至${store.worktime_to!}</td></tr>
<tr><td>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</td><td>${store.phone!}</td></tr>
</table>
</div>
<div style="clear:both;"></div>
</div>
<div class="detail_title">详细展示</div>
<div class="img_info">
	${goods.description!}
</div>
</div>
</div>
<div class="goods_content_right">
<!-- 
<div class="welcome_box">
<img alt="" src="${ctxPath}/static/custom/images/welcome.jpg">
<div class="welcome_text">
<b>工作时间</b>
<p>${store.worktime_from!}至${store.worktime_to!}</p>
<p>全年无休</p>
</div>
<div class="welcome_text">
<b>联系方式</b>
<p>联系电话：${store.phone!}</p>
<p>地址：${store.address!}</p>
</div>
</div> -->
<% include("../store/_welcome.html"){}%>
<!-- welcome box end -->
<div class="goods_list_pane">
<div class="title">看过本产品的用户还看了</div>
<div class="content">
<%var count=0;%>	
<% for(b in advertAd){%>
<%count=count+1;%>
<div class="goods_item">
<div class="goods_item_t"><a target="_blank" href="${b.ad_url!}">
<img alt="" src="/img${b.ad.pic!}"></a></div>
<div class="goods_item_b">
<div class="goods_name">${b.ad.text!}</div>
<div class="price"><span>￥</span>${b.ad_price!}<a href="#" class="qianggou">抢购</a></div>
</div>
</div>
<%}%>
<%for(var a=0; a<5-count;a++){%>
<!-- goods item end -->
<div class="goods_item">
<div class="goods_item_t"><a href="#"><img alt="" src="${ctxPath}/static/custom/images/store/goods04.jpg"></a></div>
<div class="goods_item_b">
<div class="goods_name">农夫大盘鸡</div>
<div class="price"><span>￥</span>78<a href="#" class="qianggou">抢购</a></div>
</div>
</div>
<%}%>
</div>
</div>
</div>
<div style="clear:both;"></div>
</div>
</div>
<% include("../common/foot.html"){}%>
<script type="text/javascript" src="${ctxPath}/static/custom/js/common.js"></script>
<script type="text/javascript" src="${ctxPath}/static/custom/js/ajax.js"></script>
<script type="text/javascript" src="${ctxPath}/static/custom/js/goods.js"></script>
<script type="text/javascript" src="${ctxPath}/static/layer/1.8.5/layer.min.js"></script>
<script type="text/javascript" src="http://map.qq.com/api/js?v=2.exp&callback=init&key=TB5BZ-RRLWP-7Z2DL-VDY7Y-SKQUE-BMBIS"></script>
<script type="text/javascript">
	var lat_= new Number('${store.position_lat}');
	var lng_= new Number('${store.position_lng}');
	function init() {
		var center = new qq.maps.LatLng(lat_,lng_);
		var map = new qq.maps.Map(document.getElementById('container'),{
			center: center,
			zoom: 13
		});
		var marker = new qq.maps.Marker({
			position: center,
			map: map
		});
	}

</script>
</body>
</html>