<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0">
<title>37美食</title>
<link rel="stylesheet" type="text/css"
	href="${ctxPath}/static/front/css/error_ym.css" />
</head>

<body>
	<div class="error_ym">
		<!--error_left start-------------------->
		<div class="error_left">
			<div class="error_pic">
				<img src="${ctxPath}/static/front/images/sorry.png" width="266"
					height="75" />
			</div>
		</div>
		<!--error_right start-->
		<div class="error_right">
			<ul>
				<li><h2>啊哦,你访问的页面出错!</h2></li>
				<li>1.请检查你输入的地址是否正确</li>
				<li>2.感谢您访问本站，如有疑问请联系我们</li>
			</ul>
			<p>
				<input name="" type="button" value="返回上一页" class="chongshi" />
			</p>
		</div>
		<!--error_right end-->
	</div>
</body>
</html>
