<!DOCTYPE html>
<html>
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0">
<meta name="keywords"
	content="美食,37,37美食,美食网,色美食,美食网站,餐饮,餐饮网站,餐饮加盟,餐饮服务,特色小吃,外卖,外卖网,网上订餐,在线订餐,特色餐厅食">
<meta name="description"
	content="37美食网是中国最大的餐饮服务平台，集团购、外卖、餐饮招聘、餐饮原材料购买为一体的多元化网站。超低折扣，100%品质保证,每天多单精品团购,为您精选美食；37美食网是您身边最大最好的餐饮美食服务平台。">
<link href="${ctxPath}/static/custom/css/orderManage.css"
	rel="stylesheet" type="text/css">
<link href="${ctxPath}/static/custom/css/store_manage_public.css"
	rel="stylesheet" type="text/css">
<style type="text/css">
.messageerror {
	color: red;
}
</style>
<title>店铺管理-消费码验证</title>
</head>
<body>
	<% include("/common/userhead.html"){}%>
	<div class="position">
		<div class="fl">
			当前位置：<a href="${ctxPath}/storeManage">店铺管理</a>&gt;
		</div>
		<% include("../store_change.html"){}%>
	</div>
	<div class="content">
		<% include("../common.html",{left_:"order"}){}%>
		<div class="content_right">
			<div class="tab">
				<ul>
					<li><a href="${ctxPath}/salerManage/ordermanage">所有订单</a></li>
					<li><a href="#" class="active">消费码验证</a></li>
				</ul>
			</div>
			<div class="main">
				<div class="form">
					<div>请输入消费码：</div>
					<div>
						<input id="consumeCode" type="text" name="consumeCode"class="input1">
						<input value="提交" type="submit" onclick="validConsume()" class="btn_green">
					</div>
				</div>
				<!-- form end -->
				<div id="loadorder" class="order_item_w"></div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	<% include("/common/foot.html"){}%>
<script src="${ctxPath}/static/custom/js/ajax.js"></script>
	<script type="text/javascript">
		function validConsume() {
			var consumeCode = $("#consumeCode").val();
			if (consumeCode == "") {
				alert("请输入消费码");
				return;
			}else{
				var params={
					"consumeCode":consumeCode
				}
				var result = callJson("${ctxPath}/salerManage/sureOrder/checkMakeSureCode", params, false);
				if (!result.isSure) {
					alert(result.error);
				}else{
					$("#loadorder").load(
							"${ctxPath}/salerManage/sureOrder/consumeorderUI?consumeCode="
									+ consumeCode);
				}
			}
		}
	</script>
</body>
</html>