/* zhangyonghuan �滻style.css*/

.red ,.red a{ color:#c61a37;}
.lan ,.lan a{ color:#1E51A2;}
.dis{display:block;}
.undis{display:none;}
.lf{float:left;}
.rt{float:right;}
.hd1,.hd2,.hd3,.hd5,.hd10,.hd15,.hd20{ display:block; clear:both; overflow:hidden; font-size:0;}
.hd1{ height:1px; line-height:1px;}
.hd2{ height:2px; line-height:2px;  }
.hd3{ height:3px; line-height:3px;  }
.hd5{ height:5px; line-height:5px }
.hd10{ height:10px; line-height:10px;}
.hd15{ height:15px; line-height:15px; }
.hd20{ height:20px; line-height:20px; }
.over{ overflow:hidden}
.maring_auto{ margin:0 auto}

.border2{border:1px solid #f3eded}
.border1{border:1px solid #d5d5d5}
.border3,.border5,.border6{ height:1px;line-height:1px;overflow:hidden;font-size:0;clear:both;display:block;}
.border3{background:#a1a1a1;}
.border4{border:1px solid #a1a1a1}
.border5{ background:#dadada}
.border6{border-bottom:1px dashed #ccc;}

.w755{width:755px;}
.w199{width:199px;}
.w180{width:180px;}
.w790{width:790px;}
.w230{width:230px;}
.w750{width:750px;}
.w210{width:210px;}
.w765{width:705px;}


.head_top_bg{width:100%;background:url(top_bg.jpg) repeat-x top;height:28px;line-height:28px;}
.head_top span{line-height:28px;}

#header,#content,#footer,.w990{ width:940px; margin:0 auto;}

#header div.logo{ text-indent:-9999em; width:178px; height:82px; background:url(../images/logo.jpg) no-repeat ; float:left; overflow:hidden; margin:0 0 0 0; display:inline}

.head_area{float:left;padding:40px 25px 0 10px;}
.head_area span{font-size:22px; color:#464646;font-weight:bold;}

.head_search{ width:430px; float:left; overflow:hidden; }
.head_search_box_1{display:block;overflow:hidden;}
.head_search_box_1 li{float:left;height:30px;line-height:30px;padding:0 15px;font-size:14px; color:#e52142}
.head_search_box_1 li.on{ background:#e21f3c;color:#fff;}
.head_search_box_1 li:hover{cursor:pointer;}
.head_search_box_2 {display:block;overflow:hidden; } 
.head_search_box_2 .search_txt{ width:323px; padding:0 5px 0 30px; height:31px ; line-height:31px; float:left;overflow:hidden; color:#666; background:url(ico_04.jpg) 5px center no-repeat;border:2px solid #e21f3c;border-right:none;font-size:14px;}
.head_search_box_2 .search_btn{ width:70px; height:35px;text-align:center;line-height:35px; background:#e21f3c; border:0; float:right; overflow:hidden;font-size:16px;color:#fff;}
.head_search_hot{display:block;overflow:hidden;}
.head_search_hot a{margin-right:5px;display:inline-block;}

.head_car{float:right;padding:33px 5px 0 0;}
.head_car span{float:left;width:150px;padding-left:35px;background:url(ico_01.jpg) left center no-repeat;line-height:30px;height:26px; color:#888;overflow:hidden;}
.head_car .buy{background:url(btn_bg2.jpg) repeat-x;height:23px;line-height:23px;color:#fff;font-size:14px;float:left;border:1px solid #ba1e33;overflow:hidden;width:70px;text-align:center;}

.nav{width:990px;margin:0 auto;position:relative;z-index:8;}
.nav_bg{width:100%;background:url(nav_bg1.jpg) repeat-x;height:42px;}
.nav_mc{position: absolute;top:10px;right:0px;}
.nav_mc a{color:#fff;}
.nav_lf{float:left;padding-right:32px;background:url(nav_bg2.png) right center no-repeat;position:relative;z-index:999}
.nav_lf_ul1 {z-index:999}
.nav_lf_ul1 li{line-height:42px;float:left;font-size:14px;font-weight:bold;position:relative;}
.nav_lf_ul1 li a,.nav_rt li a{color:#fff;display:inline-block;padding:0 20px;}
.nav_lf_ul1 li a:hover,.nav_rt li a:hover,.nav_rt li .on{color:#fff; background:#ff3c5d}
.nav_lf_ul1 li.on a{background:url(ico_03.png) bottom center no-repeat #ff3c5d;}
.nav_lf_ul1 .big{font-size:22px;font-weight:bold;}
.nav_lf_ul2{position:absolute;top:42px;left:0px;width:225px;border:2px solid #c61a37;border-top:none;padding:7px 0;z-index:999; background:#fff}
.nav_lf_ul2 li{width:225px;float:left;text-indent:30px;font-size:14px;line-height:32px;z-index:999;position:relative;}
.nav_lf_ul2 li a{background:url(ico_05.jpg.jpg) 205px center no-repeat;display:block;color:#383838;}
.nav_lf_ul2 li a:hover{color:#f00}
.nav_lf_ul2 .li_bg1{background:url(mu_01.jpg) 5px center no-repeat;}
.nav_lf_ul2 .li_bg2{background:url(mu_02.jpg) 5px center no-repeat;}
.nav_lf_ul2 .li_bg3{background:url(mu_03.jpg) 5px center no-repeat;}
.nav_lf_ul2 .li_bg4{background:url(mu_04.jpg) 5px center no-repeat;}
.nav_lf_ul2 .li_bg5{background:url(mu_05.jpg) 5px center no-repeat;}
.nav_lf_ul2 .li_bg6{background:url(mu_06.jpg) 5px center no-repeat;}
.nav_lf_ul2 .li_bg7{background:url(mu_07.jpg) 5px center no-repeat;}
.nav_lf .nn1.nn2 .po{color:#f00;border-bottom:1px solid #c61a37;border-top:1px solid #c61a37;line-height:30px;height:30px;}
.nav_lf .nav_lf_ul3{position:absolute;left:220px;top:0; background:#fff;width:480px;padding:5px 0;border:1px solid #c61a37;z-index:88;display:none;}
.nav_lf .nav_lf_ul3 li{text-indent:0px;width:480px;float:left;position:relative;}
.nav_lf .nav_lf_ul3 li span{float:left;width:75px;text-align:center;font-weight:bold;font-size:12px;line-height:25px;}
.nav_lf .nav_lf_ul3 li p{float:right;width:400px;line-height:25px;}
.nav_lf .nav_lf_ul3 li p  a{display:inline-block;margin:0 5px 0 0;}
.nav_lf .nav_lf_ul3 li  b{width:1px;height:30px; background:#fff;overflow:hidden;font-size:0;position:absolute;top:-5px;left:-1px;}
.nav_lf .nav_lf_ul3 a{background:none;}
#nav .bd{display:none;}
.nav_rt{float:left;padding-left:30px; }
.nav_rt li{float:left;line-height:42px;font-size:14px;font-weight:bold;padding-right:10px;}

/*=========mF_YSlider ========*/
#myFocus{ width:780px; height:234px; float:left; background:none;  overflow:hidden}
#myFocus2{ width:990px; height:365px; margin:0 auto; background:none;  overflow:hidden}
.mF_YSlider .pic li,.mF_YSlider .rePic li{position:absolute;top:0;left:0;display:none;}
#myFocus .pic li img{width:780px;}
.mF_YSlider .txt{ display:none}
.mF_YSlider .txt li{position:absolute;z-index:2;bottom:0;width:100%;height:36px;line-height:36px;display:none;}
.mF_YSlider .txt li a{display:block;position:relative;z-index:1;color:#fff;padding-left:16px;font-size:14px;font-weight:bold;text-decoration:none;}
.mF_YSlider .txt li b{display:block;width:100%;height:100%;position:absolute;top:0;left:0;background:#000;filter:alpha(opacity=40);opacity:0.4;}
.mF_YSlider .num{position:absolute;z-index:3;bottom:8px;right:2px;}
.mF_YSlider .num li{position:relative;float:left;width:20px;height:20px;overflow:hidden;text-align:center;margin-right:4px;cursor:pointer;}
.mF_YSlider .num li a,.mF_YSlider .num li b{display:block;width:18px;height:18px;border:1px solid #dedede;line-height:18px;position:absolute;z-index:2;top:0;left:0;color:#333; text-decoration:none;}
.mF_YSlider .num li b{z-index:1;background:#fff;filter:alpha(opacity=60);opacity:0.6; }
.mF_YSlider .num li.current a,.mF_YSlider .num li.hover a{border-color:#E63003;color:#fff;background:#F66E08;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;}

.index_list01{overflow:hidden;padding:17px 5px;width:187px;}
.index_list01 span{float:left;line-height:23px;}
.index_list01 .txt{float:left;border:1px solid #e0e0e0;height:21px;line-height:21px; background:#fff;width:105px;_width:100px;margin:0 3px;display:inline;text-indent:5px;}
.index_list01 .btn{background:url(btn_bg1.jpg) repeat-x;border:1px solid #999999;float:left;width:50px;text-align:center;line-height:21px;overflow:hidden;height:21px;}

.index_list02 ul,.index_list02 ul li,.index_list02{width:197px;overflow:hidden;}
.index_list02 h2{display:block;line-height:30px;height:30px;color:#fff; background:#c61a37;font-weight:bold;padding-left:10px;}
.index_list02 ul li{float:left;line-height:25px;text-indent:15px;background:url(ico_06.jpg) 5px center no-repeat;line-height:22px;}

.index_list03,.index_list04_2{width:990px;overflow:hidden;}
.index_list03 ul{width:1100px;}
.index_list03  li{float:left;border:1px solid #9d9d9e;width:321px;margin-right:10px;overflow:hidden;}
.index_list03 li a,.index_list04_2 li .pic a,.index_list05_1 li a,.index_list05_2 li .pic a,.deal_lsit li .pic a,.deal_dt_3 .pic a,.lf_hot_list ul .pic a,.list_porduct li .pic a,.left_list3 li .pic a,.business_list2 ul li .pic a,.business_list3_lf .pic a,.business_list3_rt li a,.business_list4 li .pic a{display:block;overflow:hidden;text-align:center;}
.index_list03 li a{width:321px;height:98px;}

.index_list04_1{width:990px;height:30px;position:relative;border-bottom:2px solid #aaaaaa;}
.index_list04_1 ul{height:30px;position:absolute;top:0px;}
.index_list04_1 li{float:left;width:247px;float:left;text-align:center;font-size:14px;height:30px;line-height:30px;font-weight:bold;}
.index_list04_1 li.on{border-bottom:2px solid #c61a37}
.index_list04_1 li.on a{display:inline-block;background:url(ico_02.jpg) bottom center no-repeat;line-height:30px;height:30px;}

.index_list04_2 ul{width:1200px;}
.index_list04_2 li{float:left;width:156px;float:left;padding-right:52px;} 
.index_list04_2 li .pic{display:block;padding-bottom:5px;}
.index_list04_2 li .pic a{width:156px;height:141px;}
.index_list04_2 li .tit1{display:block;line-height:18px;height:36px;overflow:hidden;}
.index_list04_2 li .tit2{display:block;font-size:16px; color:#c61a37;font-weight:bold;}

.index_list05{overflow:hidden;padding:10px;width:978px;}
.index_list05_1{width:180px;height:490px;overflow:hidden;}
.index_list05_1 li{width:180px;float:left;}
.index_list05_1 li a{width:180px;margin-bottom:5px;}
.index_list05_1 li a img{width:180px;}

.index_list05_2{width:790px;overflow:hidden;}
.index_list05_2 ul{width:820px;}
.index_list05_2 li{width:190px;float:left;overflow:hidden;padding:0 9px 10px 0;}
.index_list05_2 li .pic{display:block;}
.index_list05_2 li .pic a{width:184px;height:122px;padding:2px;border:1px solid #ccc;}
.index_list05_2 li .pic a:hover{border:1px solid #e56b07}
.index_list05_2 li .tit1{display:block;line-height:18px;overflow:hidden;height:36px;margin:3px 0;}
.index_list05_2 li .tit2{display:block; background:#f7f2f2;height:30px;line-height:30px;padding:0 5px;}
.index_list05_2 li .tit2 strong{float:left;font-size:16px; color:#ff0000;line-height:30px;}
.index_list05_2 li .tit2 i{float:right; text-decoration:line-through;font-weight:normal;line-height:30px;font-style:normal;}

.index_list05_3{}
.index_list05_3 ul{float:left;width:700px;overflow:hidden;height:65px;}
.index_list05_3 li{width:128px;height:28px;text-align:center;border:1px solid #ccc;float:left;margin:0 10px 5px 0;display:inline; overflow:hidden;}
.index_list05_3 li a{display:block;line-height:28px; background:#fbf9f9;width:128px;}
.index_list05_3 .more{width:88px;height:63px; background:#fbf9f9;border:1px solid #ccc;display:block;text-align:center;line-height:68px;float:right;overflow:hidden;}

.item {width: 233px;float: left;display:block; background:#fff;border:1px solid #ccc;padding:10px 0 0;margin-bottom:10px; }
.item_1,.item_2{ overflow:hidden; width:215px;padding:10px;}
.item_1 b,.item_1 i{ float:left; padding:0 10px 0 25px; font-weight:normal; font-style:normal; overflow:hidden; height:20px; line-height:20px; color:#666666}
.item_1 b{ background:url(ico_09.jpg) no-repeat 5px center #f53d5c;border:1px solid #c61a37}
.item_1 b a{color:#fff;}
.item_1 i{ background:url(ico_07.jpg) no-repeat left center;padding-left:30px;}
.item_1 i a{ color:#c3c3c3}
.item_1 em{font-style:normal;line-height:22px;float:left; color:#f53d5c; font-family:Arial, Helvetica, sans-serif;font-size:14px;padding:0 10px;}
.item_1 .buy{float:right;background:url(ico_08.jpg) 0 0 no-repeat;width:23px;height:19px;overflow:hidden;margin-top:1px;}
.item_2 i{ float:left;  width:30px; height:30px;}
.item_2 b{ display:block; line-height:18px; color:#333333}
.item_2 p{ display:block; line-height:18px;}
.item_2 span{float:right;width:170px;}
.item_3{ position:relative;width:215px;margin:0 auto 0;}
.item_3 img{width:215px;}
.item_4{ display:block;}
.item_4 {border-top:1px solid #ccc;text-align:center;padding:5px 0;}

.login{padding-top:80px;}
.login_lf{float:left;width:520px;}
.login_rt{float:left;width:300px;border:1px solid #cacaca;padding:10px; background:#fafafa; margin-left:100px;}
.login_rt h2{display:block;font-size:14px;font-weight:bold;border-bottom:1px dashed #eceaea;height:30px;}
.login_rt h2 .reg{float:right;font-size:12px;color:#f00;text-decoration:underline;line-height:30px;font-weight:normal;}
.login_rt ul{width:250px;margin:0 auto;}
.login_rt ul li{float:left;width:250px;padding-bottom:10px;text-align:right; color:#333}
.login_rt ul span{float:right;width:190px;padding-left:10px;}
.login_rt ul span .text{border:1px solid #c8c8c8; background:#fff;height:23px;line-height:23px;text-indent:5px;width:188px;}
.login_rt ul li .mima{float:left;text-decoration:underline;color:#f00;}
.login_rt ul li span .btn{border:none;width:90px;height:30px;line-height:30px; background:#ed1b24;color:#fff;font-size:14px;float:left;}
.acc_list p{display:block;background:url(d7.jpg) repeat-x bottom;line-height:35px;margin-bottom:10px; color:#666}
.acc_list span a{display:inline-block;line-height:25px; color:#666}

.list_filter{border:1px solid #d4d4d4;overflow:hidden;}
.list_filter_tit{background:url(bg_01.jpg) repeat-x top;height:33px;padding:0 10px; line-height:33px;}
.list_filter_tit span{ color:#c61a37;float:left;}
.list_filter_tit a{display:inline-block;margin:0 10px;}

.list_filter_list{}
.list_filter_list ul{width:968px;margin:0 auto;}
.list_filter_list li{border-bottom:1px dashed #dbdbdb;width:943px;float:left;overflow:hidden;line-height:35px;padding-left:25px;}
.list_filter_list li span{float:left;line-height:35px;}
.list_filter_list li p{float:right;width:900px;padding:5px 0 0;}
.list_filter_list li p a{display:inline-block;margin:0 2px;height:25px;line-height:25px;padding:0 10px;}
.list_filter_list li p .on,.list_filter_list li p a:hover{ background:#c61a37;color:#fff;padding:0 10px;}

.list_filter_list li.li_b1{background:url(d8.jpg) 0 8px no-repeat;}
.list_filter_list li.li_b2{background:url(d9.jpg) 0 8px no-repeat;}
.list_filter_list li.li_b3{background:url(d10.jpg) 0 8px no-repeat;}
.list_filter_list li.li_b4{background:url(d11.jpg) 0 8px no-repeat;}

.list_filter_ch{display:block; background:#f7f7f7;border-top:1px solid #eeeeee;padding: 10px;}
.list_filter_ch span{border:1px solid #e8e8e8;border-left:1px solid #e8e8e8;line-height:22px;display:inline-block;border-right:none;}
.list_filter_ch span a{line-height:22px;display:inline-block;padding:0 20px 0 10px;height:22px;border-right:1px solid #e8e8e8;}
.list_filter_ch span .up{background:url(d13.jpg) 40px center no-repeat;}
.list_filter_ch span .dow{background:url(d12.jpg) 40px center no-repeat;}
.list_filter_ch span .on{color:red; background-color:#e9e9e9;}

.deal_lsit{border-top:2px solid #c61a37;width:990px;overflow:hidden;}
.deal_lsit ul{width:1050px;}
.deal_lsit li{float:left;overflow:hidden;width:287px;padding:0 63px 20px 0;}
.deal_lsit li .tit1{display:block;font-size:14px;font-weight:bold;line-height:22px;padding-bottom:10px;}
.deal_lsit li .cont{border:1px solid #a51100}
.deal_lsit li .pic{display:block;border-bottom:1px solid #a51100}
.deal_lsit li .pic a{width:285px;height:285px;}
.deal_lsit li .tit2{background:url(bg_02.jpg) repeat-x;height:46px;display:block;padding:0 10px 0;}
.deal_lsit li .tit2 b{float:left;font-size:22px; font-family:Arial, Helvetica, sans-serif;color:#fff;line-height:46px;}
.deal_lsit li .tit2 .buy{float:right;width:83px;height:30px;background:url(btn_bg3.jpg) 0 0 no-repeat;margin-top:9px;}

.title1{display:block;background:url(bg_03.jpg) repeat-x ;height:31px;line-height:31px;padding:0 10px;border-bottom:1px solid #a1a1a1}
.title1 span ,.title1 span a { color:#c61a37}
.title1 h2{font-size:14px;display:block;line-height:31px;font-weight:bold; color:#515151}
.title2{display:block;height:35px; background:#58b3c1;padding:0 10px;}
.title2 h2{font-size:16px;color:#fff;line-height:35px;height:35px;font-weight:bold;}
.title3 {display:block;height:35px;border-bottom:1px solid #c61a37;background:url(d22.jpg) left center no-repeat;}
.title3 h2{font-size:22px;font-weight:bold;line-height:35px; color:#474747;padding-left:30px;}

.deal_dt_1 h2{ color:#222222;font-size:18px;font-weight:bold;padding-left:23px;}
.deal_dt_1_lf{width:279px;float:left;padding-left:23px;}
.deal_dt_1_lf_1{ background:#f8ecee;border-bottom:1px solid #ebbdc5;border-left:1px solid #ebbdc5;}
.deal_dt_1_lf_1 span{display:block;width:286px;height:63px;background:url(bg_05.png) 0 0 no-repeat;position:relative;margin-left:-8px;}
.deal_dt_1_lf_1 span b{color:#fff;font-size:24px; font-family:Arial, Helvetica, sans-serif;display:inline-block;margin:15px 20px 0 30px;overflow:hidden;float:left;}
.deal_dt_1_lf_1 span strong{ background:#ecc0c7; color:#b7223c;font-style:normal;padding:5px;font-size:16px;margin:10px 0 0 0;display:inline-block;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;behavior:url(pie.htc)}
.deal_dt_1_lf_1 ul{width:240px;margin:0 auto;}
.deal_dt_1_lf_1 ul li{width:70px;padding:0 5px ;text-align:center;line-height:25px;float:left;overflow:hidden; color:#7b7b7b}
.deal_dt_1_lf_1 ul li i{font-style:normal;text-decoration: line-through}
.deal_dt_1_lf_1 ul li b{ color:#313131;font-weight:normal;}

.deal_dt_1_lf_2 .btn1,.deal_dt_1_lf_2 .btn2{line-height:37px;width:84px;text-align:center;height:37px;float:left;margin-right:10px;display:inline;}
.deal_dt_1_lf_2 .btn1{background:url(btn_bg5.jpg) repeat-x;border:1px solid #f39542;color:#fff;font-size:16px;font-weight:bold;margin-left:40px;}
.deal_dt_1_lf_2 .btn2{background:url(btn_bg4.jpg) repeat-x;border:1px solid #d2d2d2;}
.deal_dt_1_lf_3{width:200px;margin:0 auto;}
.deal_dt_1_lf_3 p{display:block; color:#222222;font-size:14px;text-align:center;padding-bottom:5px;} 
.deal_dt_1_lf_3 p strong{ color:#c61a37;font-size:16px; font-family:Arial, Helvetica, sans-serif}
.deal_dt_1_lf_3 p b{font-size:20px; font-family:Arial, Helvetica, sans-serif}
.deal_dt_1_rt{float:right;width:446px;height:363px;overflow:hidden;text-align:center;}
.deal_share{border-top:1px solid #ccc;padding-top:10px;margin-right:20px;display: inline-block;overflow:hidden;width:259px;}

.deal_dt_2_ul{display:block;background:url(bg_04.jpg) repeat-x ;height:38px;position:relative;border-bottom:1px solid #c9c9c9}
.deal_dt_2_ul ul{position:absolute;height:45px;top:0px;left:15px;}
.deal_dt_2_ul li{line-height:38px;padding:0 0 7px;height:38px;float:left;padding-right:5px;font-size:14px;}
.deal_dt_2_ul li.on span{ background:#c7223d;display:block;line-height:38px;padding:0 10px;}
.deal_dt_2_ul li.on{ background:url(ico_10.jpg) bottom center no-repeat;color:#fff;font-size:14px;font-weight:bold;}
.deal_dt_2 .bd{padding:10px;}
.deal_dt_2_ul li:hover{cursor:pointer;}

.deal_dt_3{ background:#f2f2f2;display:block;}
.deal_dt_3 ul,.deal_dt_3 li{width:155px;margin:0 auto;}
.deal_dt_3 li{float:left;overflow:hidden;padding-bottom:15px;}
.deal_dt_3 li .pic{display:block;}
.deal_dt_3 li .pic a{width:155px;height:105px;}
.deal_dt_3 li .tit1{display:block;padding:5px 0 0;line-height:22px;height:22px;overflow:hidden;}
.deal_dt_3 li .tit2{display:block;}
.deal_dt_3 li .tit2 i{text-decoration:line-through;font-style:normal;}
.deal_dt_3 li .tit2 b{ float:right; color:#eb3947;}
.deal_dt_3 li .tit2 b,.deal_dt_3 li .tit2 i{font-size:14px; font-family:Arial, Helvetica, sans-serif}

.address{display:block;padding:5px 0;}
.address span{font-size:14px;}

.sidenav_tit{}
.sidenav_tit h2{display:block;font-size:14px;font-weight:bold; color:#434343;display:block;border-bottom:1px dashed #ccc; background:#fafafa}
.sidenav_tit h2 span{display:block; background:url(ico_13.jpg) 180px center no-repeat;line-height:34px;font-size:14px;padding-left:10px;}
.sidenav_list{width:208px;overflow:hidden;display:none;}
.sidenav_list li{width:84px;padding:0 10px;float:left;overflow:hidden;line-height:22px;}
.sidenav_tit h2 span.fds{ background:url(ico_12.jpg) 180px center no-repeat;}

.lf_hot_list{}
.lf_hot_list ul,.lf_hot_list ul li{width:180px;margin:0 auto;}
.lf_hot_list ul li{float:left;padding-bottom:10px;}
.lf_hot_list ul .pic{display:block;padding-bottom:5px;}
.lf_hot_list ul .pic a{width:100px;height:100px;margin:0 auto;}
.lf_hot_list ul .tit1{text-align:center;display:block;line-height:20px;height:30px;overflow:hidden;}
.lf_hot_list ul .tit2{text-align:center;display:block; color:#dd0000;font-weight:bold;}


.list_filter2_top h2{display:block;height:30px;line-height:30px;background:url(bg_06.jpg) repeat-x;font-size:14px;font-weight:bold; color:#82C230;padding:0 10px;}
.list_filter2_top li,.list_filter2_top ul{padding:0 10px;overflow:hidden;}
.list_filter2_top li{border-bottom:1px dashed #e7cdae;float:left;padding:10px 0;}
.list_filter2_top li a{display:inline-block;margin:0 3px;padding:0 3px;line-height:22px;}
.list_filter2_top li span{float:left;width:65px;font-weight:bold; color:#434343;line-height:22px;}
.list_filter2_top li strong{float:left;width:45px;font-weight:normal;}
.list_filter2_top li a:hover,.list_filter2_top li .on{ background:#82C230;color:#fff;}
.list_filter2_top li p{float:right;width:790px}

.list_porduct_filter{border-top:1px solid #82c230;}
.list_porduct_filter .list_filter_ch{ background:#faf9f9;padding:5px 10px;}

.list_porduct{width:765px;overflow:hidden;}

.list_porduct ul{width:780px;}
.list_porduct li{float:left;width:200px;overflow:hidden;padding:0 14px 5px 15px;}
.list_porduct li .pic{display:block;padding-bottom:5px;}
.list_porduct li .pic a{width:200px;height:224px;}
.list_porduct li .tit1{display:block; color:#dd0000; font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
.list_porduct li .tit2{display:block;height:36px;line-height:18px;overflow:hidden;}
.list_porduct li .tit3{display:block;}
.list_porduct li .tit3 b{float:right;font-weight:normal; color:#5f90d2; font-family:Arial, Helvetica, sans-serif}
.list_porduct li .tit3 i{font-style:normal; color:#ff6161; font-family:Arial, Helvetica, sans-serif}



.pic_show_lf{ float:left; width:390px}

/*======= ͼƬչʾ ======*/
.mainpic ul li{list-style:none;float:left;}
.pic_zoom{width:385px;height:450px;position:relative;float:left;}	
.thumb{	margin-top:5px;	height:60px;	width:370px; padding-left:5px}
.left_btn,.right_btn{	width:10px;	height:58px;	cursor:pointer;	}
.right_btn,.left_btn img{		margin-top:7px;	}
.th_pics{	width:340px;	height:58px;margin:1px 5px;	overflow:hidden;	white-space:nowrap;	}
.th_pics img{width:50px;height:50px;border:2px #CCCCCC solid;padding:2px;margin:0 5px 1px 5px;}
.th_pics a:hover img{width:50px;height:50px;border:2px #ca0400 solid;padding:2px;margin:0 5px 1px 5px;}
.mainpic{	zoom:1;	margin-left:0px;	/*  margin:64*k  */	}
.zoomdiv{display:none;	height:400px;width:400px;position:absolute;	left:10px;top:10px;	}
.big_pic{width:380px;height:380px; border:1px solid #dddddd}
.big_pic img{border:0;}
.zoomThumbActive img{border:2px #ca0400 solid;}
.fl{float:left;}


.pic_show_rt{ float:right; width:280px;padding-right:20px;}

.pic_show_rt_tit h2{ overflow:hidden; color:#444444; font-size:16px; font-weight:bold; display:block; line-height:30px; height:30px}

.pic_show_rt_parameter,.pic_show_rt_select { font-size:14px; color:#666; }
.pic_show_rt_parameter span,.pic_show_rt_select span{ float:left;}
.pic_show_rt_parameter b{ color:#dd137b}
.pic_show_rt_parameter i{ font-style:normal; text-decoration:line-through;}

.pic_show_rt_parameter .txt,.pic_show_rt_select .txt1,.pic_show_rt_select .txt2,input.qty { border:1px solid #cecbce; background:#fff; height:22px; line-height:22px; text-align:center; font-size:12px}
.pic_show_rt_parameter .txt{ width:40px;}
.pic_show_rt_select .txt1{ width:60px; margin-right:5px; display:inline-block }
.pic_show_rt_select .txt2{ width:20px; margin-right:3px; display:inline-block}
.pic_show_rt_select .on,.pic_show_rt_select .on { border:1px solid #cc0000}
.pic_show_rt_select .txt1:hover,.pic_show_rt_select .txt2:hover{ color:#666; border:1px solid #cc0000}


.quantity_box_button_down,.quantity_box_button_up { margin-top:5px;background: #ffffff;border: none;cursor: pointer;float: left;height:15px;width: 15px;}
.quantity_box_button_down{background: url(../images/ico/jian.jpg) no-repeat center top;}
.quantity_box_button_up {background: url(../images/ico/jia.jpg) no-repeat center top}
input.qty {float: left; width:40px;margin: 0 3px; display:inline;text-align: center;}

.buy_btn1{ float:left; margin-right:10px; display:block; border:none;background:url(../images/btns.png) no-repeat 0 0; width:137px; height:38px; cursor:pointer;}
.buy_btn1:hover{background-position:-157px 0;}
.buy_btn2{ background:url(../images/btns.png) no-repeat 0 -175px; width:72px; height:38px; float:left; margin-right:10px; display:block; border:none;}
.buy_btn2:hover{background-position:-157px -175px;}

.left_list3{border:1px solid #e6e6e6;padding:10px 0;}
.left_list3 ul,.left_list3 li{width:184px;margin:0 auto;overflow:hidden;}
.left_list3 li{float:left;padding-bottom:15px;}

.left_list3 li .pic{display:block;padding-bottom:5px;}
.left_list3 li .pic a{width:184px;height:122px;}
.left_list3 li .tit{display:block;line-height:18px;overflow:hidden;}
.left_list3 li .price{display:block;}
.left_list3 li .price strong{float:left;color:#ed145b; font-family:Arial, Helvetica, sans-serif}
.left_list3 li .price  b{float:right; color:#919191;font-weight:normal;}

/* �ı��л����� - ������ */ 
.slideTxtBox6{ width:715px; text-align:left;  } 
.slideTxtBox6 .hd{ height:39px; line-height:39px; padding:0 20px; border:1px solid #cacaca;  position:relative; background:#e4e4e4 } 
.slideTxtBox6 .hd ul{ float:left; position:absolute; left:0; top:0; height:32px;   } 
.slideTxtBox6 .hd ul li{ float:left; padding:0 15px; font-size:14px; line-height:39px ; border-right:1px solid #cacaca; color:#666; border-bottom:none} 
.slideTxtBox6 .hd ul li a{display:block;}
.slideTxtBox6 .hd ul .on a{color:#fff;}
.slideTxtBox6 .hd ul li:hover{ cursor:pointer}
.slideTxtBox6 .hd ul li.on{ color:#fa7bab;  background:url(../images/bg_07.jpg) repeat-x;color:#fff;  cursor:pointer; } 
.slideTxtBox6 .bd{ padding:10px;  } 

.pro_dt_parameters{  border:1px solid #cacaca; overflow:hidden; width:748px}
.pro_dt_parameters h3{ color:#404040; font-weight:bold; line-height:25px; height:25px; border-bottom:1px solid #fff; overflow:hidden; display:block; padding:10px  20px 0}
.pro_dt_parameters  ul{ padding:10px; overflow: hidden; width:728px}
.pro_dt_parameters  li{ float:left; text-indent:10px; width:240px; overflow:hidden ; line-height:30px; height:30px;}

.business_list2,.business_list1{width:990px;overflow:hidden;}
.business_list1 ul{display:block;overflow:hidden; background:#f84664}
.business_list1 li{float:left;line-height:45px;width:122px;text-align:center;font-size:14px;font-weight:bold;border-right:1px solid #e33855}
.business_list1 li a{display:block;line-height:45px;color:#fff;}
.business_list1 li.on { background:#787878}
.business_list1 li .li_b1{background:url(d14.png) 18px 10px no-repeat ;}
.business_list1 li .li_b2{background:url(d15.png) 18px 10px no-repeat ;}
.business_list1 li .li_b3{background:url(d16.png) 18px 10px no-repeat ;}
.business_list1 li .li_b4{background:url(d17.png) 18px 10px no-repeat ;}
.business_list1 li .li_b5{background:url(d18.png) 18px 10px no-repeat ;}
.business_list1 li .li_b6{background:url(d19.png) 18px 10px no-repeat ;}
.business_list1 li .li_b7{background:url(d20.png) 18px 10px no-repeat ;}
.business_list1 li .li_b8{background:url(d21.png) 18px 10px no-repeat ;}

.business_list2 ul{width:1049px;}
.business_list2 ul li{float:left;width:185px;height:228px;position:relative;padding-right:16px;}
.business_list2 ul li .pic{display:block;}
.business_list2 ul li .pic a{width:185px;height:228px;}
.business_list2 ul li .tit{background:url(../images/bg_08.png) repeat;height:30px;width:185px;position:absolute;left:0px;bottom:0;text-align:center;font-size:14px;line-height:30px;}
.business_list2 ul li .tit a{color:#fff;}
.business_list2 ul li .tit a:hover{ color:#f84664}

.business_list3{display:block;padding:10px 0;border-bottom:1px solid #dcdcdc;overflow:hidden;}
.business_list3_lf{float:left;width:275px;}
.business_list3_lf .pic{float:left;border:1px solid #e6e6e6s;margin-right:10px;}
.business_list3_lf .pic a{width:70px;height:70px;}
.business_list3_lf .tit1{display:block;font-size:14px; color:#0063dc;font-weight:bold;padding-bottom:5px;}
.business_list3_lf .tit1 a{color:#0063dc;}
.business_list3_lf .tit1 a:hover{color:#f00;}

.business_list3_lf .tit2{display:block;line-height:20px;height:40px;overflow:hidden;}
.business_list3_lf p.p1,.business_list3_lf p.p2{display:block;line-height:25px; color:#404040}
.business_list3_lf p.p2{ color:#888}
.business_list3_lf p.p2 b{font-weight:700; color:#676666; font-size:16px;} 

.business_list3_rt{width:694px;float:right;}
.business_list3_rt ul{width:704px;}
.business_list3_rt li{width:164px;float:left;margin-right:10px;border:1px solid #eaeaea}
.business_list3_rt li a{width:164px;height:215px;}

.business_list4{width:990px;overflow:hidden;}
.business_list4 ul{width:1050px;}
.business_list4 li{width:232px;padding-bottom:10px;background:url(bg_09.jpg)right bottom no-repeat;float:left;overflow:hidden;margin:0 20px 20px 0;display:inline; }
.business_list4 li .pic{display:block;padding-bottom:5px;}
.business_list4 li .pic a{width:210px;height:220px;}
.business_list4 li .tit1,.business_list4 li .tit2{display:block;line-height:20px;}
.business_list4 li .tit1 a{ color:#666}
.business_list4 li .tit1  a:hover{ color:#f00}
.business_list4 li .tit2 b,.business_list4 li .tit2 strong{ color:#d23856;font-size:14px; font-family:Arial, Helvetica, sans-serifa}
.business_list4 li .tit2 strong{font-size:12px;}
.business_list4 li .tit2 i{float:right;font-style:normal; color:#999999; text-decoration:line-through;}
.business_list4 li .tit2 em{font-style:normal; color:#666; float:right;}
.business_list4 li .li_bg{border:1px solid #ccc;padding:10px;}

.handle ul{width:100%;overflow:hidden;padding-bottom:10px;}
.handle li{float:left;font-size:14px; color:#666;border:1px solid #CECBCE;padding:0 5px;margin-right:5px;display:inline;}
.handle .handle_title{float:left;border:none;padding:0px;margin:0px;}
.handle .solid,.handle  .dotted:hover{border:1px solid #f00;cursor:pointer; background:#ff3c5d; color:#fff;}


.reg_list_1{border:1px solid #efefef; background:#f8f8f8;display:block;overflow:hidden;padding:20px 10px;text-align:center;}
.reg_list_2{float:left;width:390px;padding:0 0 0 50px;}
.reg_list_2 ul,.reg_list_2 li{width:480px;}
.reg_list_2 li{float:left;padding-bottom:10px;text-align:right;}
.reg_list_2 li b{ color:#f13867}
.reg_list_2 li span{float:right;width:380px;text-align:left;line-height:22px;}
.reg_list_2 li span .text1,.reg_list_2 li span .text2{border:1px solid #ccc;height:20px;line-height:20px;text-indent:5px;float:left;width:180px; background:#fff}
.reg_list_2 li span .text2{width:80px;}
.reg_list_2 li span .btn{background:url(../images/ico/18.jpg) 0 0 no-repeat;width:122px;height:31px;border:none;}

.reg_list_3{float:right; width:280px; border-left:1px solid #ddd; padding:50px 30px;}
.reg_list_3 dt{font-weight:bold; font-size:14px;}
.reg_list_3 dd{padding-top:15px;}

#help_bg{ background:#e6e6e6;border-bottom:2px solid #c5c5c5;width:100%;overflow:hidden;padding:20px 0;}
#help{width:990px;margin:0 auto;}
#help dl,#help dl dt,#help dl dd{width: 155px;}
#help dl{float:left;min-height:200px;_height:200px;padding: 0 0 0 30px;}
#help dl dt{font-size:14px;font-weight:bold;}
#help dl dd{line-height:25px;}
#help .foot_logo{float:left;padding-right: 60px;}
.logo2{display:block;width: 178px;height: 82px;background:url(logo2.png) 0 0 no-repeat;overflow:hidden;text-indent:-999999em;margin-top:50px;}

#footer{ }
#footer span,#footer span a{color:#545454}

.pages{ display:block; padding:10px; text-align:right;}

/*店铺列表*/
.list_stores li{border-bottom:1px dashed #ccc; padding-bottom:8px; margin-bottom:8px; clear:both; overflow:hidden;}
.list_stores li .pic{float:left; width:90px; height:90px; display:block; border:1px solid #eee;}
.list_stores li .pic a{width:90px; height:90px; display:block; overflow:hidden; text-align:center;}
.list_stores li .pic a img{max-width:120px; display:inline;}
.list_stores li .con{float:right;padding-right:20px; width:580px;}
.list_stores li .con h3{font-size:14px; font-weight:bold; font-family:"΢���ź�";}
.list_stores span.con img{max-height:90px; display:inline;}









/*appcss.css*/
#sideTools {position:fixed;right:-52px;width:86px;overflow:hidden;z-index:10010;top:350px;right:-52px;width:86px;z-index:10010;_width:34px;_right:0px;_position:absolute;_position:absolute;_margin-top:0;_top:expression(documentElement.scrollTop+350)}
#sideTools p {margin-top:5px;}
#sideTools p a {display:block;width:86px;height:36px;background:#AEB2BD;text-decoration:none;cursor:pointer;overflow:hidden;}
#sideTools p a:link, #sideTools p a:visited {background:#AEB2BD;}
#sideTools p a:hover {background:#676767;text-decoration:none;}
#sideTools p a:active {background:#676767;}
#sideTools p a s {display:inline-block;float:left;width:34px;height:36px;background:url(../images/Bg630.png) 0 -340px;vertical-align:middle;}
#sideTools p a span {display:inline-block;float:left;width:50px;height:36px;color:#FFF;line-height:36px;overflow:hidden;}
#sideTools p.miniNav a s {background-position:0 -340px;}
#sideTools p.miniNav a.on {background:#676767;}
#sideTools p.miniNav a:hover s {background-position:-160px -340px;}
#sideTools p.miniNav a.on s {background-position:-160px -340px;}
#sideTools p.iRpt a s {background-position:-40px -340px;}
#sideTools p.iRpt a:hover s {background-position:-200px -340px;}
#sideTools p.iOnline a s {background-position:-80px -340px;}
#sideTools p.iOnline a:hover s {background-position:-240px -340px;}
#sideTools p.i1nline a s {background-position:0px -277px;}
#sideTools p.i1nline a:hover s {background-position:-40px -277px;}
#sideTools p.iToTop a s {background-position:-120px -340px;}
#sideTools p.iToTop a:hover s {background-position:-280px -340px;}
#sideTools p.iToTop a span {text-align:center;}
#sideTools .stMore {width:86px;height:180px;background:#676767;border-top:1px solid #585858;overflow:hidden;}
#sideTools .stMore dl {padding-bottom:8px;}
#sideTools .stMore dl dt {height:10px;font-weight:bold;color:#FD741C;line-height:30px;}
#sideTools .stMore dl dt s {display:inline-block;width:20px;height:16px;margin:0 2px 0 10px;background:url(../images/Bg630.png) -320px -300px;vertical-align:middle;}
#sideTools .stMore dl.side01 {border-top:1px solid #7E7E7E;}
#sideTools .stMore dl.side02 dt {color:#86BE15;}
#sideTools .stMore dl.side02 dt s {background-position:-320px -320px;}
#sideTools .stMore dl.side03 {border-bottom:1px solid #585858;}
#sideTools .stMore dl.side03 dt {color:#ED4882;}
#sideTools .stMore dl.side03 dt s {background-position:-320px -340px;}
#sideTools .stMore dl dd {margin-left:25px;}
#sideTools .stMore dl dd a {display:block;margin-bottom:10px;color:#FFF;}
#sideTools .stMoreClose {display:block;width:86px;height:16px;background:#676767;}
#sideTools .stMoreClose a {display:block;width:86px;height:14px;border-top:1px solid #7E7E7E;text-decoration:none;cursor:pointer;}
#sideTools .stMoreClose a i {display:inline-block;width:14px;height:14px;margin-left:36px;background:url(../images/Bg630.png) -320px -360px;}

.deal_box_lsit{width:990px;overflow:hidden;}
.deal_box_lsit ul{width:1050px;}
.deal_box_lsit li{border:1px solid #d9d9d9;float:left;overflow:hidden;margin:0 20px 20px 0;display:inline;width:308px;}
.deal_box_lsit li .pic{position:relative;margin:7px auto 0;display:block;}
.deal_box_lsit li .pic,.deal_box_lsit li .pic .img{width:300px;height:205px;}
.deal_box_lsit li .pic .img{display:block;overflow:hidden;text-align:center;}
.deal_box_lsit li .tit1{background:url(20.png) repeat;bottom:0;left:0;width:300px;height:25px;line-height:25px;text-indent:10px;color:#fff;position:absolute;}
.deal_box_lsit li .tit1 b{ color:#ffc601;font-size:14px;}
.deal_box_lsit li .tit2{display:block;padding:0 7px;font-weight:bold;line-height:20px;height:40px;overflow:hidden;margin:10px 0;font-size:14px;}
.deal_box_lsit li .tit2 a{ color:#585858}
.deal_box_lsit li .tit3{display:block;height:41px;background:url(hs11.jpg) 0 0 no-repeat;overflow:hidden;}
.deal_box_lsit li .tit3 span{float:left;width:70px;height:41px;color:#fff;font-size:18px;padding:2px 0 0 7px;font-weight:bold;text-align:center;}
.deal_box_lsit li .tit3 p{float:right;width:220px;text-align:right;line-height:41px;}
.deal_box_lsit li .tit3 p i{ color:#797979;font-style:normal;text-decoration:line-through;}
.deal_box_lsit li .tit3 p b{ color:#c7223d;font-size:22px;padding:0 10px;}


.xx_lf_d{}
.xx_lf_d ul{ background:#fcfaee;padding:10px;overflow:hidden;width:190px;}
.xx_lf_d ul li{float:left;width:95px;line-height:25px;overflow:hidden;}
.xx_lf_d ul p{display:block; color:#666}
.xx_lf_d ul p b{display:block; color:#859939}
.xx_lf_d .pic2{background:url(dl7.jpg) 0 0 no-repeat;width:210px;height:69px;}
.xx_lf_d .pic2 span{color:#fff;display:block;font-size:20px;font-weight:bold;padding:10px 0 0 75px; }

.deal_dt_4{}
.deal_dt_4_top{display:block;padding:0 10px; color:#9a9a9a}
.deal_dt_4_top h2{border-bottom:1px dashed #ccc;line-height:18px;padding:15px 0 15px; clear:both; overflow:hidden;}
.deal_dt_4_top h2 strong{float:left;line-height:18px;padding-right:5px;}
.deal_dt_4_top ul{width:100%;overflow:hidden;padding-bottom:10px;}
.deal_dt_4_top li{width:100%;float:left;line-height:24px;}
.deal_dt_4_top p{padding:0 0 0 15px;display:block;line-height:20px;}
.deal_dt_4_bot{border-top:1px solid #ccc;padding:10px 0;}
.deal_dt_4_bot .btn{background:url(dl3.jpg) repeat;border:1px solid #ccc;height:23px;line-height:23px;width:70px;display:block;text-align:center;margin:0 auto;}

/*����*/
.share_link{margin:0; padding:0;}
.share_link li{float:left; margin-left:8px;}

#loading{text-align:center; margin:20px auto; display:none;}


/*��Ա����*/
.m_top_tit{border:1px solid #f3db79; background:url(xx5.jpg) no-repeat 10px center #fffdde;display:block;height:22px;line-height:22px;text-indent:35px;}
.m_top_tit a{ color:#3366cc;text-decoration: underline}
.m_left{width:180px;float:left;}
.m_left .border1{border-top:none;}
.m_left_tit{background:url(xx4.jpg) repeat-x top;height:28px;line-height:28px;border-bottom:1px solid #d5d5d5;border-top:1px solid #d5d5d5;text-align:center;font-weight:bold;font-size:14px;  color:#5c1801}
.m_left_nav ul,.m_left_nav  li{width:178px;overflow:hidden;}
.m_left_nav li{float:left;height:30px;line-height:30px;text-align:center;font-size:14px;}
.m_left_nav li a{display:block; color:#413a3a}
.m_left_nav li a.on,.m_left_nav li a:hover{color:#fff; background:#c61a37}

.m_left_list1{padding:10px;width:158px;overflow:hidden;}
.m_left_list1 .tit1{display:block;padding-left:20px;background:url(xx1.jpg) left center no-repeat;line-height:22px;font-weight:bold;}
.m_left_list1 .tit2{display:block; background:#d5d5d5;padding:0 10px;line-height:22px;height:22px;}
.m_left_list1 p{display:block;line-height:20px;}
.m_left_list1 .tit3{background:url(xx3.jpg) center top no-repeat;height:75px;display:block;padding:0 20px;width:116px;}

.m_right{float:right;width:790px;}
.m_right_list1{width:703px;margin:0 auto;background:url(xx7.jpg) repeat-y;}
.m_right_list1_t,.m_right_list1_b{width:703px;height:166px;background:url(xx6.jpg) 0 0 no-repeat;overflow:hidden;}
.m_right_list1_b{background:url(xx8.jpg) 0 0 no-repeat;height:5px;}
.m_right_list1_c{margin:0 15px;width:673px;border:1px solid #f0f0f0; background:#fafafa;display: inline-block;overflow:hidden;}
.m_right_list1_c .tab td{padding:5px 0;}
.m_right_list1_c .tab .img{border:1px solid #ccc;width:67px;height:48px;}
.m_right_list1_c .tab  .more{text-decoration:underline; color:#3366cc}

.m_right_list2{width:780px;border-top:none;}
.m_right_list2 ul{width:830px;}
.m_right_list2 li{width:212px;}
.m_right_list2 li .pic a{width:210px;height:145px;}

.m_right_list2 li .tit2 b{font-size:14px;}

.m_right_list2 li .tit2{height:35px;background:url(bg_022.jpg) repeat-x;line-height:35px;}

.m_right_list2 li .tit2 b{line-height:35px;}
.m_right_list2 li .tit2 .buy{ background:url(btn_bg33.jpg) 0 0 no-repeat;width:69px;height:25px;margin-top:5px;}
