body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, h1, h2,
	h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset,
	input, button, select, textarea {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: 100%;
	font-family: inherit
}

body {color:#000;
	background: #f7f7f7;
	text-aligh: center;
	font: 12px Arial, Helvetica, sans-serif, "宋体", "微软雅黑";
}

ol, ul, li {
	list-style: none;
}

img {
	margin: 0;
	padding: 0;
	border: none;
	outline: none
}

a {
	text-decoration: none;
	outline: none
}
.content{
	width:1180px;
	margin:0 auto;
}
.content_left{
	float:left;
	width:240px;
}
.store_info{
	width:238px;
	border:1px solid #ccc;
}
.store_info_title{
	height:50px;
	font-family:"微软雅黑";
	font-size:20px;
	background-color:#459412;
	line-height:50px;
	text-align:center;
	color:#fff;
}
.store_info_content{
	background-color:#fff;
	padding-top:10px;
	padding-bottom:5px;
}
.store_info_content .info{
	width:215px;
	margin:0 auto;
}
.store_info_content .info table{
	color:#666666;
}
.store_info_content .btn_w{
	font-size:15px;
	padding-top:20px;
	padding-bottom:20px;
	font-family:"微软雅黑";
}
.btn_msg{
	background:url(../images/store/btn_msg.jpg);
	display:inline-block;
	width:88px;
	height:30px;
	line-height:30px;
	text-align:right;
	color:#000;
	padding-right:3px;
	margin-left:5px;
}
.btn_star{
	background:url(../images/store/btn_star.jpg);
	display:inline-block;
	width:88px;
	height:30px;
	line-height:30px;
	text-align:right;
	color:#fff;
	margin-left:20px;
	padding-right:3px;
}
.store_info .map{
	border: 1px solid #ccc;
	width:227px;
	margin:0 auto;
}
.store_info .map_b{
	height:30px;
	line-height:30px;
	text-align:center;
	
	font-size:14px;
}
.store_info .map_b a{
	color:#666666;
}
.content_right{
	float:left;
	width:930px;
	margin-left:10px;
}
.pingjia{
	border: 1px solid #ccc;
}
.pingjia_title{
	background-color: #d8d8d8;
    height: 40px;
}
.pingjia_title div{
	background-color: #8cc842;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 140px;
}
.pingjia_content{
	background-color: #fff;
	padding:10px;
}
.pingjia_table{
	font-size:18px;
	width:910px;
	border:1px solid #ccc;
	border-collapse: collapse;
}
.pingjia_table th{
	background:url(../images/store/bg1.jpg);
	height:52px;
	border:1px solid #ccc;
}
.pingjia_table td{
	height:40px;
	text-align:center;
	border:1px solid #ccc;
}

.green{
	color:#3e9400;
}
.pingjia_tab{
	height:41px;
	background:url(../images/store/bg2.jpg);
	margin-top:10px;
	font-size:15px;
	line-height:41px;
	
}
.pingjia_tab li{
	float:left;
}
.pingjia_tab li a{
	display:inline-block;
	width:122px;
	height:41px;
	line-height:41px;
	color:#3e9400;
	text-align:center;
}
.pingjia_tab li a.active{
	background:url(../images/store/bg3.jpg);
}
.tab_content{
	padding-top:20px;
}
.pingjia_items{
	min-height:842px;
	margin-bottom:40px;
}
.pingjia_item{
	margin-bottom:10px;
}
.pingjia_item_left{
	float:left;
}
.pingjia_item_left img{
	width:50px;
	height:50px;
}
.pingjia_item_right{
	float:left;
	border:1px solid #ccc;
	margin-left:20px;
	width:826px;
	color:#666666;
	padding:5px;
}
.pingjia_item_right_t{
	font-size:15px;
	height:40px;
	line-height:40px;
	padding-left:18px;
	background:url(../images/store/triangle_left.jpg) no-repeat;
	margin-left:-13px;
}
.pingjia_item_right_t .stars{
	margin-left:20px;
	margin-right:5px;
}
.pingjia_item_right_t .time{
	float:right;
	font-size:14px;
}
.pingjia_item_right_m{
	font-size:14px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:5px;
}
.pingjia_item_right_b{
	height:30px;
	line-height:30px;
	font-size:15px;
	text-align:right;
}
.pingjia_item_right_b a{
	margin-left:20px;
	color:#3e9400;
}
.pagination {
	text-align: center;
	height: 50px;
}

.pagination a {
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 1px solid #ccc;
	background-color: white;
	font-family: "宋体";
	font-size: 16px;
	color: #000;
	text-align: center;
	line-height: 36px;
}

.pagination .btn.active {
	color: white;
	background-color: #84c233;
}

.pagination a:hover {
	color: white;
	background-color: #84c233;
}

.input_ss {
	width: 50px;
}