<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="${ctxPath}/static/custom/css/manage.css" rel="stylesheet"
	type="text/css">
<title>导航列表</title>
</head>
<body>
	<% include("/common/userhead.html"){}%>
	<div class="position">
		<div class="fl">
			当前位置：<a href="${ctxPath}/storeManage">店铺管理</a>&gt;
		</div>
		<% include("../store_change.html"){}%>
	</div>
	<div class="content">
		<% include("../common.html",{left_:"navi"}){}%>


		<div class="content_right">
			<div class="tab">
				<ul>
					<li><a href="${ctxPath}/salerManage/navigate/findNavigate" class="active">导航列表</a></li>
				</ul>
				<a href="${ctxPath}/salerManage/navigate/toaddNavigate" class="btn_add">新增导航</a>
			</div>
			<div class="main">
				<div class="top_bar">
					<div class="fl">
						<input type="checkbox" id="all"
								class="checkall" onclick="checkAll(this)">全选&nbsp;<a onclick="delNavigations()"
							class="btn_grey_b">删除</a>
					</div>
					<div class="fr">
					
						<a <%if(page.pageNumber!=1){%>href="${ctxPath}/salerManage/navigate/findNavigate?pageNum=${page.pageNumber-1}"<%}%>  class="btn_triangle_l">&nbsp;</a>&nbsp;
						<a <%if(page.pageNumber!=page.totalPage && page.totalPage!0!=0){%>href="${ctxPath}/salerManage/navigate/findNavigate?pageNum=${page.pageNumber+1}"<%}%>	class="btn_triangle_r">下一页</a>
					</div>
				</div>
				<div class="list">
					<table>
						<tr>
							<th width="50px"></th>
							<th>导航名称</th>
							<th width="200px">是否显示</th>
							<th width="200px">排序</th>
							<th width="200px">操作</th>
						</tr>
						<%for (sto in page.list){%>
						<tr class="tr_grey">
							<td><input type="checkbox" class="checkitem" value="${sto.id}"></td>
							<td>${sto.name}</td>
							<td>
							<%if(sto.is_show==1){%>
							<a href="${ctxPath}/salerManage/navigate/updateshow?id=${sto.id}"><img alt="显示"	src="${ctxPath}/static/custom/images/storeManage/right_green.png"></a></td>
							<%}else{%>
							<a href="${ctxPath}/salerManage/navigate/updateshow?id=${sto.id}"><img alt="不显示"	src="${ctxPath}/static/custom/images/storeManage/right_grey.png"></a></td>
							<%}%>		
							<td>${sto.px}</td>
							<td><a href="${ctxPath}/salerManage/navigate/toupdateNavigate?id=${sto.id}" class="btn_edit">编辑</a>
							<a href="${ctxPath}/salerManage/navigate/deleteNavigate?id=${sto.id}"	class="btn_del">删除</a></td>
						</tr>
						<%}%>
					</table>
				</div>
				<div class="bottom_bar">
					<input type="checkbox" id="all"
								class="checkall" onclick="checkAll(this)">全选&nbsp;<a onclick="delNavigations()"
						class="btn_grey_b">删除</a>
				</div>
				<div class="pagination">
					<% include("/common/_pagination.html",{page:page}){}%>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
	<% include("/common/foot.html"){}%>
	<script type="text/javascript" src="${ctxPath}/static/old/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/old/custom/js/ajax.common.js"></script>
<script type="text/javascript" src="${ctxPath}/static/old/front/js/checkAll.js"></script>
<script type="text/javascript">
function delNavigations(){
	if(!confirm("确定要删除吗？"))return;
	
	var cbs = $(".checkitem:checked");
	var ids ="";
	for(var i=0; i<cbs.length; i++){
		ids=ids+","+cbs[i].value;
	}
	var url = "${ctxPath}/salerManage/navigate/delNavigations";
	var param={
			"ids": ids
	}
	var result = callText(url, param, true);
	if(result=="success"){
		window.location.href="${ctxPath}/salerManage/navigate/findNavigate";
	}
}
</script>
</body>
</html>